// Build settings for the Awful app target in the Release configuration.

#include "Application.xcconfig"
#include "../../Pods/Target Support Files/Pods-Awful/Pods-Awful.release.xcconfig"

DERIVE_UIKITFORMAC_PRODUCT_BUNDLE_IDENTIFIER = YES

INFOPLIST_FILE = $(SRCROOT)/../App/Resources/Info.plist

PRODUCT_BUNDLE_IDENTIFIER = com.awfulapp.Awful

PRODUCT_NAME = Awful

SUPPORTS_UIKITFORMAC = YES
