// All posts view themes inherit from this file.

// Please use ems whenever sizing text or things that should scale with text. Then Awful's font scale setting works properly.

// The body has the .iphone class on iPhones; .ipad on iPads.

body {
  font: -apple-system-body;
  margin: 0;
  
  // Maintain text size on orientation change.
  -webkit-text-size-adjust: 100%;
  
  // Hide UIWebView's long-tap link menu.
  -webkit-touch-callout: none;
}

// Don't break tables with text, images, or videos.
body {
  word-wrap: break-word;
}
.postbody {
  img, iframe, embed {
    max-width: 100%;
  }
}

// The action sheet code highlights the <header>, <footer>, and .action-button elements. Padding on those elements is included in the highlight but margin is not. So prefer pading the <header> and <footer> over setting a margin on the <post>.
.post-side-padding(@padding) {
  
  // Spelled out with -left and -right so padding can be individually overridden later.
  header, .postbody, footer {
    padding-left: @padding;
    padding-right: @padding;
  }
}

post {
  display: block;
  
  .iphone & {
    .post-side-padding(0.6em);
  }
  .ipad & {
    .post-side-padding(1.07em);
  }
  
  border-top: 1px solid;
  border-bottom: 1px solid;
  
  .spacer(@height) {
    margin-top: @height;
    &:first-child {
    	margin-top: 0;
    }
  }
  .spacer(0.5em);
}

header {
  padding-top: 0.75em;
  padding-bottom: 0.7em;
  
  .ipad & {
    padding-top: 1.22em;
/*    padding-bottom: 0.7em;*/
  }
  
  .clearfix() {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  .clearfix();
}

.avatar {
  display: inline-block;
  vertical-align: middle;
  
  .constrain-size(@width) {
    max-width: @width;
    max-height: @width;
  }
  .iphone & {
    .constrain-size(2.5em);
  }
  .ipad & {
    .constrain-size(4em);
  }
}

.nameanddate {
  display: inline-block;
  vertical-align: middle;
}

.username {
  margin: 0 0 2px;
}

.postdate {
  font-size: .8em;
  font-weight: lighter;
  -webkit-flex-grow: 1;
  -webkit-flex-wrap: wrap-reverse;
}

.clock {
  box-sizing: border-box;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
  
  border-width: 0.1em;
  border-style: solid;
  border-radius: 50%;
  
  position: relative;
  
  &::before, &::after {
    content: "";
    position: absolute;
    bottom: 50%;
    margin-bottom: -0.1em;
    left: 50%;
    margin-left: -0.05em;
  }
  &::before {
    width: 30%;
    height: 0.1em;
  }
  &::after {
    width: 0.1em;
    height: 45%;
  }
}

.clock-color(@color) {
  .clock {
    border-color: @color;
    
    &::before,
    &::after {
      background-color: @color;
    }
  }
}
.clock-color(#000);

.regdate {
  display: block;
  font-size: .8em;
  font-weight: lighter;
  margin: -.4em 0 0;
}

.username {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  
  &:before {
  	margin-right: .25em;
  }
  
  .role-admin &:before {
    color: #990011;
  }  
  .role-mod &:before {
    color: #006699;
  }
   
  .role-admin &:before,
  .role-mod &:before {
    content: '★'; 
  }
  
  .op & {
    color: #199ed7;
  }
  
  /* Peta's 3D username */
  .userid-182864 & {
  	color: rgba(0, 0, 0, 0.5);
	text-shadow: 4px 0px 1px cyan, -2px 0px 1px red, -2px 0px 1px red, 4px 0px 1px cyan;
  }
  
	/*  Platinum users */

	.platinum &:before {
		background-image: url('awful-resource://platinum-member.png');
		content: "";
		background-size: 12px 15px;
		width: 12px;
		height: 15px;
		display: inline-block;
		vertical-align: middle;
	}

	.coder &:before {
		content: url('awful-resource://image-coder.png');
	}

	.idiotking &:before {
		content: url('awful-resource://ik.png');
	}

	.diamond &:before {
		content: url('awful-resource://diamond-icon.png');
	}

	.redpill &:before {
		content: url('awful-resource://redpill.png');
	}

	.award &:before {
		content: url('awful-resource://award.png');
	}

}

.chevron {
  position: relative;
  display: inline-block;
  
  @width: 0.5em;
  width: @width;
  height: 1em;
  
  &::before, &::after {
    content: "";
    position: absolute;
    width: @width;
    height: 15%; // line thickness
  }
  &::before {
    top: 50%;
    -webkit-transform: rotate(45deg);
  }
  &::after {
    top: 80%;
    -webkit-transform: rotate(-45deg);
  }
}
.chevron-color(@color: #1682b2) {
  .chevron::before, .chevron::after {
    background: @color;
  }
}
.chevron-color();

.action-button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit; // UIWebView base style hardcodes Helvetica.
  font-size: 2.25em;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  line-height: 1em;  
}

// We don't generally control the markup in the post body, so tread carefully.

// Hide UIWebView's long-tap image menu.
.postbody img {
  -webkit-user-select: none;
}

// A bbc-block is [quote], [code], etc.
// h4 is "pokeyman posted:" above a quote.
// h5 is "code" above a code block.
.bbc-block {
  
  border-left: 2px solid #999;
  font-size: 82%; 
  margin: 5px 0;
  padding: 0 10px 5px;

  
  .ipad & {
    margin: 0 10px 1em 10px;
  }
  
  h4 {
    margin: 0;
    padding: 1px 0px 2px;
    font-weight: bold;
  }
  
  h5 {
    margin: 0;
  }
  
  &.mention, &.mention h4 a {
    color: #7409a0;
    border-color: #7409a0;
  }
}

code, pre, tt {
	font-family: menlo;
	font-size:.9em; 
}

span.mention {
  color: #7409a0;
}

// .quote_link is "pokeyman posted:" above a quote, a link to the quoted post.
.quote_link {
  text-decoration: none;
}

// Make linkified images look like links.
[data-awful-linkified-image] {
  text-decoration: underline;
}

blockquote {
  margin: 0;
  
  // Shrink quoted images. You can always long-tap to see the real thing.
  img {
    max-width: 160px;
    max-height: 100px;
  }
}

// No rectangle around tapped links.
.postbody a {
  -webkit-tap-highlight-color: transparent;
}

// Amazingly, smiley-busting empty tags (e.g. `v<b></b>:)<b></b>v` to get a shrugging happy face) break `word-wrap: break-word`. I guess it's not considered a word, so it doesn't trigger the start of the next line, but it's not considered several words, so there's no break. To fix, insert a U+200C Zero-Width Non-Joiner before potential smiley-busting tags.
.postbody {
  b, i, s, span.bbc-spoiler, sub, sup, tt, u {
    &::before {
      content: "\200C";
    }
  }
}

// Indenting lists on iPhone wastes too much space.
.iphone .postbody {
  ol, ul {
    margin: 0;
    padding-left: 1.5em;
  }
}

.bbc-block.code pre {
  margin: 0;
}

.editedby {
  margin-bottom: 0;
  font-size: 90%;
  font-style: italic;
}

.attachment {
  margin: 0;
}

footer {
  display: -webkit-flex;
  -webkit-align-items: center;
  
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

#ad {
  text-align: center;
  
  img {
    max-width: 100%;
  }
  
  .iphone & {
    padding: .6em;
    padding-bottom: 0;
  }
  
  .ipad & {
    padding: 1.07em;
    padding-bottom: 0;
  }
}

#end {
  font-weight: normal;
  text-align: center;
  line-height: 1;
  margin-bottom: 10px;
}
