/*
 posts-view-dark.css
 Awful
 
 Copyright 2012 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
*/

@import "base.less";

body {
  color: #ffffff;
  background-color: #000000;
}

.post {
  background-color: transparent;
  border-top: 7px solid #222222;
  border-bottom: 1px solid #222222;
  
  &.seen {
    background-color: #343b46;
  }
}

header {
  border-bottom: none;
}

.action-button {
  color: #1682b2;
}

.postbody a {
  color: #1682b2;
}

@import "spoilers.less";
.spoilers(#fff);

.bbc-block {
  h4,
  h5 {
    color: #999;
  }
}

.bbc-block { 
  &.mention, &.mention h4 a {
    color: #b837ed;
    border-color: #b837ed;
  }
}

footer {
  margin-top: .6em
}
.postdate, .regdate {
  color: #8e8e8e;
}

#end {
  color: #ffffff;
  line-height: 3em;
}
