/*
 posts-view-dark.css
 Awful
 
 Copyright 2012 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
*/

@import "base.less";

body {
  color: #ffffff;
  background-color: #181818;
}

.post {
  background-color: #333333;
  border-bottom-color: #181818;
  border-top-color: #181818;
  
  &.seen {
    background-color: #343b46;
  }
}

header {
  border-bottom: none;
}

.action-button {
  color: #1682b2;
}

.postbody a {
  color: #1682b2;
}

@import "spoilers.less";
.spoilers(#fff);

.bbc-block {
  h4,
  h5 {
    color: #999;
  }
}

.bbc-block { 
  &.mention, &.mention h4, &.mention h4 a {
    color: #b837ed;
    border-color: #b837ed;
  }
    
  &.mention h4 .mention{
    color: #dd89ff;     
  }
}

footer {
  margin-top: .6em
}
.postdate, .regdate {
  color: #8e8e8e;
}
.editedby .mention { 
  color: #dd89ff;
}
    
#end {
  color: #ffffff;
  line-height: 3em;
}

[title~=":bustem:"],
[title~=":byobear:"],
[title~=":chiyo:"],
[title~=":coal:"],
[title~=":effort:"],
[title~=":dealwithit:"],
[title~=":derp:"],
[title~=":dice:"],
[title~=":edi:"],
[title~=":fedora:"],
[title~=":filez:"],
[title~=":fireman:"],
[title~=":firstpost:"],
[title~=":frogon:"],
[title~=":FYH:"],
[title~=":gb2gbs:"],
[title~=":goof:"],
[title~=":iia:"],
[title~=":iiam:"],
[title~=":iiapa:"],
[title~=":laffo:"],
[title~=":lol:"],
[title~=":ms:"],
[title~=":nms:"],
[title~=":nws:"],
[title~=":regd04:"],
[title~=":regd05:"],
[title~=":regd06:"],
[title~=":regd07:"],
[title~=":rice:"],
[title~=":rice:"],
[title~=":sicknasty:"],
[title~=":tbear:"],
[title~=":their:"],
[title~=":vick:"],
[title~=":whoptc:"],
[title~=":wom:"],
[title~=":woop:"],
[title~=":words:"],
[title~=":wtc:"],
[title~=":wtf:"],
[title~=":zerg:"],
[title~=":yohoho:"]{
  -webkit-filter: invert(100%);
} 



