/*
 posts-view-219-macinyos.css
 Awful
 
 Copyright 2012 Awful Contributors. CC BY-NC-SA 3.0 US http://github.com/AwfulDevs/Awful
 */
html {
  font: 15px "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  word-wrap: break-word;
}
.post {
  margin: 10px 5px;
  border-radius: 2px;
}
.iphone .post {
  padding: .36em;
}
.ipad .post {
  padding: 1.07em;
}
.ipad header {
  margin-bottom: 8px;
}
header:after {
  content: "";
  display: block;
  clear: both;
}
.avatar {
  float: left;
}
.iphone .avatar {
  max-width: 2em;
  max-height: 2em;
  margin: 3px 5px 0 0;
}
.ipad .avatar {
  max-width: 4em;
  max-height: 4em;
  margin-right: 8px;
}
.action-button {
  float: right;
}
.username {
  margin: 0;
}
.ipad .username {
  padding-top: 5px;
}
.postdate {
  display: block;
}
.regdate {
  display: none;
}
header {
  padding-bottom: 5px;
  border-bottom: 1px solid;
}
.username {
  font-size: 1em;
}
.role-admin .username {
  background-image: url('adminstar.png');
}
.role-mod .username {
  background-image: url('modstar.png');
}
.role-admin .username,
.role-mod .username {
  padding-left: 18px;
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: auto 1em;
}
.role-op .username {
  color: #199ed7;
}
.action-button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: 2.85em;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}
.postdate {
  font-size: 0.85em;
}
.postbody img {
  -webkit-user-select: none;
}
.postbody img,
.postbody iframe {
  max-width: 100%;
}
.iphone .postbody {
  padding: 5px;
}
.bbc-block h4 {
  margin: 0;
  padding: 1px 0 2px;
  font-size: 0.85em;
  font-style: italic;
}
.bbc-block h5 {
  margin: 0;
  font-size: 0.8em;
}
.ipad .bbc-block {
  margin: 0 10px 1em 10px;
}
.bbc-block.mention {
  background-color: rgba(162, 205, 90, 0.5);
}
span.mention {
  color: #b373fc;
}
.quote_link {
  text-decoration: none;
}
blockquote {
  margin: 0;
  padding: 0 10px;
  font-size: 0.85em;
  border-left: 1px solid #999;
}
.dark blockquote {
  border-left-color: #555;
}
blockquote img {
  max-width: 160px;
  max-height: 100px;
}
.postbody a {
  -webkit-tap-highlight-color: transparent;
}
.iphone .postbody ol,
.iphone .postbody ul {
  margin: 0;
  padding-left: 1.5em;
}
.bbc-block.code pre {
  margin: 0;
  font-size: 0.75em;
}
.editedby {
  margin-top: 5px;
  font-size: 0.75em;
  font-style: italic;
}
.attachment {
  margin: 0;
}
#ad {
  text-align: center;
}
#ad img {
  max-width: 100%;
}
#end {
  text-align: center;
  line-height: 2em;
}
#loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#loading .container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 60px;
  margin-top: -30px;
}
#loading .spinner {
  margin: 0 auto;
}
html {
  font-family: "Geeza Pro";
  -webkit-font-smoothing: none;
}
body {
  color: #000;
  background-attachment: fixed;
  background-image: url('macinyos-wallpaper.png');
  background-size: 2px;
}
.post {
  margin: 5px;
  padding: 0;
  background-color: #fff;
  background-image: url('macinyos-heading-left.png'), url('macinyos-heading-center.png'), url('macinyos-heading-right.png'), url('macinyos-heading.png');
  background-position: top left, top center, top right, top left;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
  background-size: 20px 17px, 56px 17px, 20px 17px, 1px 18px;
  border: solid #000;
  border-radius: 2px;
  border-width: 1px 2px 2px 1px;
}
.post.seen {
  background-color: #f1f1f1;
}
.ipad .post {
  padding: 18px 5px 40px 5px;
}
.iphone header {
  margin-top: 18px;
}
.ipad header {
  margin-top: 8px;
  padding-bottom: 8px;
}
.role-admin .username {
  background-image: url('macinyos-adminstar.png');
}
.role-mod .username {
  background-image: url('macinyos-modstar.png');
}
.role-op .username {
  color: #000;
  font-style: italic;
}
.action-button {
  width: 70px;
  height: 34px;
  padding-right: 6px;
  font-size: 28px;
  text-align: right;
  background: top left no-repeat url('macinyos-postactions-bg.png') #ffffff;
  background-size: 31px;
  border: 1px solid black;
  border-radius: 4px;
}
.postbody a {
  color: #000;
}
.bbc-spoiler {
  color: #000000;
  background: #000000;
}
.bbc-spoiler li {
  color: #000000;
  background: #000000;
  list-style: none;
}
.bbc-spoiler img {
  visibility: hidden;
}
.bbc-spoiler a:link,
.bbc-spoiler a:visited,
.bbc-spoiler a:active {
  color: #000000;
}
.bbc-spoiler.spoiled {
  background: transparent;
}
.bbc-spoiler.spoiled li {
  background: transparent;
  list-style: inherit;
}
.bbc-spoiler.spoiled img {
  visibility: visible;
}
blockquote,
.dark blockquote {
  border-left-color: #000;
}
#loading {
  position: fixed;
  top: 30px;
  right: 10px;
  bottom: 30px;
  left: 10px;
  background: center 45% no-repeat url('macinyos-loading.png') #ffffff;
  background-size: 221px 141px;
  border: 1px solid #000;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .iphone #loading {
    top: 5px;
    right: 40px;
    bottom: 5px;
    left: 40px;
  }
}
.ipad #loading {
  top: 50px;
  right: 20px;
  bottom: 50px;
  left: 20px;
  background: center 45% no-repeat url('macinyos-loading.png') #ffffff;
  background-size: 221px 141px;
  border: 1px solid #000;
}
#loading .container {
  top: 60%;
  margin-top: -10px;
}
.ipad #loading .container {
  margin-top: -50px;
}
#loading .progress-bar {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: none;
  line-height: 50px;
}
#loading .progress-bar div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: spin 0.5s step-end infinite;
}
#loading p {
  font-weight: bold;
  text-align: center;
}
