html {
  font: 14px "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  word-wrap: break-word;
}
.post {
  margin: 10px 5px;
  border-radius: 5px;
}
.iphone .post {
  padding: 5px;
}
.ipad .post {
  padding: 15px;
}
.ipad header {
  margin-bottom: 8px;
}
header:after {
  content: "";
  display: block;
  clear: both;
}
.avatar {
  float: left;
}
.iphone .avatar {
  max-width: 2em;
  max-height: 2em;
  margin: 3px 5px 0 0;
}
.ipad .avatar {
  max-width: 4em;
  max-height: 4em;
  margin-right: 8px;
}
.action-button {
  float: right;
}
.username {
  margin: 0;
}
.ipad .username {
  padding-top: 5px;
}
.postdate {
  display: block;
}
.regdate {
  display: none;
}
header {
  padding-bottom: 5px;
  border-bottom: 1px solid;
}
.username {
  font-size: 1em;
}
.role-admin .username {
  background-image: url('adminstar.png');
}
.role-mod .username {
  background-image: url('modstar.png');
}
.role-admin .username, .role-mod .username {
  padding-left: 18px;
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: auto 1em;
}
.role-op .username {
  color: #199ed7;
}
.action-button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: 2.85em;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}
.postdate {
  font-size: 0.85em;
}
.postbody img {
  -webkit-user-select: none;
}
.postbody img, .postbody iframe {
  max-width: 100%;
}
.iphone .postbody {
  padding: 5px;
}
.bbc-block h4 {
  margin: 0;
  padding: 1px 0 2px;
  font-size: 0.85em;
  font-style: italic;
}
.bbc-block h5 {
  margin: 0;
  font-size: 0.8em;
}
.ipad .bbc-block {
  margin: 0 10px 1em 10px;
}
.bbc-block.mention {
  background-color: rgba(162, 205, 90, 0.5);
}
span.mention {
  color: #b373fc;
}
.quote_link {
  text-decoration: none;
}
blockquote {
  margin: 0;
  padding: 0 10px;
  font-size: 0.85em;
  border-left: 1px solid #999;
}
.dark blockquote {
  border-left-color: #555;
}
blockquote img {
  max-width: 160px;
  max-height: 100px;
}
.postbody a {
  -webkit-tap-highlight-color: transparent;
}
.iphone .postbody ol, .iphone .postbody ul {
  margin: 0;
  padding-left: 1.5em;
}
.bbc-block.code pre {
  margin: 0;
  font-size: 0.75em;
}
.editedby {
  margin-top: 5px;
  font-size: 0.75em;
  font-style: italic;
}
#ad {
  text-align: center;
}
#end {
  text-align: center;
  line-height: 2em;
}
#loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#loading .container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 60px;
  margin-top: -30px;
}
#loading .spinner {
  margin: 0 auto;
}
html {
  font-family: monospace;
}
body {
  color: #57ff57;
  background-color: #000;
}
.post {
  background-color: #191919;
}
.post.seen {
  background-color: #0b2d0b;
}
header {
  border-bottom-color: #444;
}
.seen header {
  border-bottom-color: #395339;
}
.action-button {
  color: #57ff57;
  font-size: 2em;
}
.postbody a {
  color: #57ff57;
}
.bbc-spoiler {
  color: #57ff57;
  background: #57ff57;
}
.bbc-spoiler li {
  color: #57ff57;
  background: #57ff57;
  list-style: none;
}
.bbc-spoiler img {
  visibility: hidden;
}
.bbc-spoiler a:link, .bbc-spoiler a:visited, .bbc-spoiler a:active {
  color: #57ff57;
}
.bbc-spoiler.spoiled {
  background: transparent;
}
.bbc-spoiler.spoiled li {
  background: transparent;
  list-style: inherit;
}
.bbc-spoiler.spoiled img {
  visibility: visible;
}
blockquote, .dark blockquote {
  border-left-color: #57ff57;
}
#loading .container {
  margin-top: -25px;
}
#loading .progress-bar {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  border: 2px solid #57ff57;
}
#loading .progress-bar  > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: spin 0.5s step-end infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
  }
  75% {
    -webkit-transform: rotate(155deg);
  }
}
#loading .progress-bar  > div::after {
  content: "|";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
#loading p {
  text-align: center;
  font-weight: bold;
}
