/*
 posts-view-amberpos.css
 Awful
 
 Copyright 2013 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
 */

@color: #eacf4c;
@seencolor: #2d270c;
@bordercolor: #756826;
@import "yospos.less";

@import "posts-view-dark-emoticons.less";

.seen .postdate {
  @seen-postdate-color: #675b1f;
  color: @seen-postdate-color;
  .clock-color(@seen-postdate-color);
}
