/*
 posts-view-amberpos.css
 Awful
 
 Copyright 2013 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
 */
html {
  font-family: "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  word-wrap: break-word;
}
post {
  display: block;
  margin: 8px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
post:first-child {
  margin-top: 0;
}
.iphone post {
  padding: .6em;
  padding-bottom: 0;
}
.ipad post {
  padding: 1.07em;
  padding-bottom: 0;
}
header {
  margin: .25em 0;
}
.ipad header {
  margin-bottom: 8px;
}
header:after {
  content: "";
  display: block;
  clear: both;
}
.avatar {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.iphone .avatar {
  max-height: 2.5em;
  max-width: 2.5em;
}
.ipad .avatar {
  max-height: 4em;
}
.nameanddate {
  display: inline-block;
  vertical-align: middle;
}
.action-button {
  float: right;
}
.username {
  margin: 0 0 2px;
}
.postdate {
  font-size: .8em;
  font-weight: lighter;
  -webkit-flex-grow: 1;
}
.clock {
  box-sizing: border-box;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 50%;
  position: relative;
}
.clock::before,
.clock::after {
  content: "";
  position: absolute;
  bottom: 50%;
  margin-bottom: -0.1em;
  left: 50%;
  margin-left: -0.05em;
}
.clock::before {
  width: 30%;
  height: 0.1em;
}
.clock::after {
  width: 0.1em;
  height: 45%;
}
.clock {
  border-color: #000000;
}
.clock::before,
.clock::after {
  background-color: #000000;
}
.regdate {
  display: block;
  font-size: .8em;
  font-weight: lighter;
  margin: -0.4em 0 0;
}
.ipad .regdate {
  padding-bottom: .75em;
}
header {
  padding-bottom: 0;
}
.username {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  /* Peta's 3D username */
}
.username #bracket {
  display: inline-block;
  position: relative;
  height: 16px;
  width: 8px;
}
.username #bracket::before,
.username #bracket::after {
  content: '';
  position: absolute;
  left: 5px;
  height: 15%;
  width: 100%;
  background: #1682b2;
}
.username #bracket::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
}
.username #bracket::after {
  top: 81%;
  -webkit-transform: rotate(-45deg);
}
.role-admin .username:before {
  color: #990011;
}
.role-mod .username:before {
  color: #006699;
}
@-webkit-keyframes RalpStar {
  0% {
    color: grey;
  }
  49% {
    color: grey;
  }
  50% {
    color: yellow;
  }
  100% {
    color: yellow;
  }
}
.userid-61644 .username:before {
  -webkit-animation: RalpStar 20s;
  -webkit-animation-iteration-count: infinite;
}
.role-admin .username:before,
.role-mod .username:before,
.userid-61644 .username:before {
  content: '★';
}
.role-op .username {
  color: #199ed7;
}
.userid-182864 .username {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 4px 0px 1px #00ffff, -2px 0px 1px #ff0000, -2px 0px 1px #ff0000, 4px 0px 1px #00ffff;
}
.action-button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: 2.25em;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  background-color: transparent;
  line-height: 1em;
}
.postbody {
  font: -apple-system-body;
}
.postbody img {
  -webkit-user-select: none;
}
.postbody img,
.postbody iframe {
  max-width: 100%;
}
.iphone .postbody {
  padding: .36em 0;
}
.bbc-block {
  border-left: 2px solid #999;
  margin: 5px 0;
  padding: 0 10px 5px;
}
.bbc-block h4 {
  margin: 0;
  padding: 1px 0px 2px;
  font-weight: bold;
}
.bbc-block h5 {
  margin: 0;
}
.ipad .bbc-block {
  margin: 0 10px 1em 10px;
}
.bbc-block.mention,
.bbc-block.mention h4 a {
  color: #7409a0;
  border-color: #7409a0;
}
code,
pre,
tt {
  font-family: menlo;
  font-size: .9em;
}
span.mention {
  color: #7409a0;
}
.quote_link {
  text-decoration: none;
}
[data-awful-linkified-image] {
  text-decoration: underline;
}
blockquote {
  margin: 0;
}
blockquote img {
  max-width: 160px;
  max-height: 100px;
}
.postbody a {
  -webkit-tap-highlight-color: transparent;
}
.iphone .postbody ol,
.iphone .postbody ul {
  margin: 0;
  padding-left: 1.5em;
}
.bbc-block.code pre {
  margin: 0;
}
.editedby {
  margin-top: 15px;
  font: -apple-system-caption1;
  font-style: italic;
}
.attachment {
  margin: 0;
}
footer {
  display: -webkit-flex;
  -webkit-align-items: center;
}
footer:after {
  content: "";
  display: block;
  clear: both;
}
#ad {
  text-align: center;
}
#ad img {
  max-width: 100%;
}
.iphone #ad {
  padding: .6em;
  padding-bottom: 0;
}
.ipad #ad {
  padding: 1.07em;
  padding-bottom: 0;
}
#end {
  font-weight: normal;
  text-align: center;
  line-height: 1;
  margin-bottom: 10px;
}
body {
  color: #eacf4c;
  background-color: #000000;
}
post {
  background-color: #171717;
  border-bottom-color: #000;
  border-top-color: #000;
}
post.seen {
  background-color: #2d270c;
}
.role-admin .username:before {
  content: '★';
}
.role-mod .username:before {
  content: '☆';
}
.role-admin .username,
.role-mod .username {
  background-image: none;
  padding-left: 0;
}
.role-admin .username:before,
.role-mod .username:before {
  color: #eacf4c;
}
.role-op .username {
  color: #eacf4c;
}
.role-op .username:before {
  content: "⌨ ";
}
.username #bracket::before,
.username #bracket::after {
  background: #eacf4c;
}
.action-button {
  color: #eacf4c;
  font-size: 1.75em;
  padding: .125em 0;
}
.postbody a,
[data-awful-linkified-image] {
  color: #eacf4c;
}
.postdate {
  color: #474747;
}
.clock {
  border-color: #474747;
}
.clock::before,
.clock::after {
  background-color: #474747;
}
.seen .postdate {
  color: #257a26;
}
.seen .clock {
  border-color: #257a26;
}
.seen .clock::before,
.seen .clock::after {
  background-color: #257a26;
}
.bbc-spoiler:not(.spoiled) {
  color: #eacf4c;
  background: #eacf4c;
}
.bbc-spoiler:not(.spoiled) li {
  color: #eacf4c;
  background: #eacf4c;
  list-style: none;
}
.bbc-spoiler:not(.spoiled) img {
  opacity: 0;
}
.bbc-spoiler:not(.spoiled) a:link,
.bbc-spoiler:not(.spoiled) a:visited,
.bbc-spoiler:not(.spoiled) a:active,
.bbc-spoiler:not(.spoiled) [data-awful-linkified-image] {
  color: #eacf4c;
}
.bbc-block {
  border-left-color: #eacf4c;
}
.bbc-block.mention,
.bbc-block.mention h4,
.bbc-block.mention h4 a {
  color: #b837ed;
  border-color: #b837ed;
}
.bbc-block.mention h4 .mention {
  color: #dd89ff;
}
.editedby .mention {
  color: #dd89ff;
}
/*
 posts-view-dark-emoticons.css
 Awful
 
 Copyright 2013 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
*/
[title~=":bustem:"],
[title~=":effort:"],
[title~=":dealwithit:"],
[title~=":filez:"],
[title~=":fireman:"],
[title~=":firstpost:"],
[title~=":frogon:"],
[title~=":FYH:"],
[title~=":gb2gbs:"],
[title~=":goof:"],
[title~=":qq:"],
[title~=":regd04:"],
[title~=":regd05:"],
[title~=":regd06:"],
[title~=":regd07:"],
[title~=":rice:"],
[title~=":sicknasty:"],
[title~=":vick:"],
[title~=":woop:"],
[title~=":words:"],
[title~=":wtc:"],
[title~=":zerg:"] {
  background: #fff;
}
[title~=":byobear:"],
[title~=":chiyo:"],
[title~=":coal:"],
[title~=":derp:"],
[title~=":dice:"],
[title~=":edi:"],
[title~=":fedora:"],
[title~=":hf:"],
[title~=":iia:"],
[title~=":iiam:"],
[title~=":iiapa:"],
[title~=":laffo:"],
[title~=":lol:"],
[title~=":ms:"],
[title~=":nms:"],
[title~=":nws:"],
[title~=":tbear:"],
[title~=":their:"],
[title~=":whoptc:"],
[title~=":wom:"],
[title~=":wtf:"],
[title~=":yohoho:"] {
  -webkit-filter: invert(100%);
}
.seen .postdate {
  color: #675b1f;
}
.seen .postdate .clock {
  border-color: #675b1f;
}
.seen .postdate .clock::before,
.seen .postdate .clock::after {
  background-color: #675b1f;
}
