/*
 posts-view-219-amber.css
 Awful
 
 Copyright 2013 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
 */
html {
  font-family: "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  word-wrap: break-word;
}
.post {
  margin: 0;
}
.iphone .post {
  padding: .6em;
  padding-bottom: 0;
}
.ipad .post {
  padding: 1.07em;
  padding-bottom: 0;
}
header {
  margin: .25em 0;
}
.ipad header {
  margin-bottom: 8px;
}
header:after {
  content: "";
  display: block;
  clear: both;
}
.avatar {
  float: left;
}
.iphone .avatar {
  max-height: 2.5em;
  margin: 6px 5px 0 0;
}
.ipad .avatar {
  max-height: 4em;
  margin-right: 8px;
  margin-bottom: .5em;
}
.action-button {
  float: right;
}
.username {
  margin: 0;
}
.ipad .username {
  padding-top: .5em;
}
.postdate {
  font: -apple-system-subheadline;
  float: left;
  margin: .6em 0;
}
.regdate {
  display: block;
  font: -apple-system-subheadline;
}
.ipad .regdate {
  padding-bottom: .75em;
}
header {
  padding-bottom: 0;
  border-bottom: 1px solid;
}
.username {
  font: -apple-system-headline;
  display: inline-block;
}
.role-admin .username {
  background-image: url('adminstar.png');
}
.role-mod .username {
  background-image: url('modstar.png');
}
.role-admin .username,
.role-mod .username {
  padding-left: 1.125em;
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: auto 1em;
}
.role-op .username {
  color: #199ed7;
}
.action-button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: 2.25em;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  background-color: transparent;
  line-height: 1em;
}
.postbody {
  font: -apple-system-body;
}
.postbody img {
  -webkit-user-select: none;
}
.postbody img,
.postbody iframe {
  max-width: 100%;
}
.iphone .postbody {
  padding: .36em 0;
}
.bbc-block h4 {
  margin: 0;
  padding: 1px 0 2px;
  font: -apple-system-footnote;
}
.bbc-block h5 {
  margin: 0;
  font: -apple-system-caption1;
}
.ipad .bbc-block {
  margin: 0 10px 1em 10px;
}
.bbc-block.mention {
  background-color: rgba(162, 205, 90, 0.5);
}
span.mention {
  color: #b373fc;
}
.quote_link {
  text-decoration: none;
}
blockquote {
  margin: 0;
  padding: 0 10px;
  font: -apple-system-caption1;
  border-left: 1px solid #999;
}
.dark blockquote {
  border-left-color: #555;
}
blockquote img {
  max-width: 160px;
  max-height: 100px;
}
.postbody a {
  -webkit-tap-highlight-color: transparent;
}
.iphone .postbody ol,
.iphone .postbody ul {
  margin: 0;
  padding-left: 1.5em;
}
.bbc-block.code pre {
  margin: 0;
  font: -apple-system-caption1;
}
.editedby {
  margin-top: 5px;
  font: -apple-system-caption1;
  font-style: italic;
}
.attachment {
  margin: 0;
}
footer {
  font: -apple-system-subheadline2;
}
footer:after {
  content: "";
  display: block;
  clear: both;
}
#ad {
  text-align: center;
}
#ad img {
  max-width: 100%;
}
#end {
  font-weight: normal;
  text-align: center;
  line-height: 1;
  margin-bottom: 10px;
}
html {
  font-family: monospace;
}
body {
  color: #eacf4c;
  background-color: #000;
}
.post {
  background-color: #191919;
}
.post.seen {
  background-color: #2d270c;
}
.role-admin .username:before {
  content: '★';
}
.role-mod .username:before {
  content: '☆';
}
.role-admin .username,
.role-mod .username {
  background-image: none;
  padding-left: 0;
}
.role-op .username {
  color: #eacf4c;
}
.role-op .username:before {
  content: "⌨ ";
}
.action-button {
  color: #eacf4c;
}
.postbody a {
  color: #eacf4c;
}
.bbc-spoiler {
  color: #eacf4c;
  background: #eacf4c;
}
.bbc-spoiler li {
  color: #eacf4c;
  background: #eacf4c;
  list-style: none;
}
.bbc-spoiler img {
  visibility: hidden;
}
.bbc-spoiler a:link,
.bbc-spoiler a:visited,
.bbc-spoiler a:active {
  color: #eacf4c;
}
.bbc-spoiler.spoiled {
  background: transparent;
}
.bbc-spoiler.spoiled li {
  background: transparent;
  list-style: inherit;
}
.bbc-spoiler.spoiled img {
  visibility: visible;
}
blockquote,
.dark blockquote {
  border-left-color: #eacf4c;
}
