/*
 posts-view-amberpos.css
 Awful
 
 Copyright 2013 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
 */

@color: #eacf4c;
@seencolor: #2d270c;
@bordercolor: #756826;
@import "yospos.less";
@import "posts-view-dark-emoticons.less";

.postbody { 
	letter-spacing: -.01em;
	line-height:1.18em;
	padding-bottom:15px;
	padding-top:10px;
}

@postdate-color: #eacf4c;
.postdate {
  color: #eacf4c;
}
.clock-color(@postdate-color);

.seen .postdate {
  @seen-postdate-color: #eacf4c;
  color: @seen-postdate-color;
  .clock-color(@seen-postdate-color);
}

.chevron-color(@color: #eacf4c) {
  .chevron::before, .chevron::after {
    background: @color;
  }
}
.chevron-color();