/*
 posts-view-yospos.css
 Awful
 
 Copyright 2012 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
 */

@color: #57ff57;
@seencolor: #0b2d0b;
@bordercolor: #000000;
@clockimage: ~"url('clock.png')";
@import "yospos.less";

.postdate { color:#474747; }
.seen { border-bottom: 8px solid #061701; }
.seen .postdate { color: #226603; }