/*
 posts-view-yospos.css
 Awful
 
 Copyright 2012 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
 */
body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
}
body {
  word-wrap: break-word;
}
.postbody img,
.postbody iframe,
.postbody embed {
  max-width: 100%;
}
post {
  display: block;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 0.5em;
}
.iphone post header,
.iphone post .postbody,
.iphone post footer {
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.ipad post header,
.ipad post .postbody,
.ipad post footer {
  padding-left: 1.07em;
  padding-right: 1.07em;
}
post:first-child {
  margin-top: 0;
}
header {
  padding-top: 0.75em;
  padding-bottom: 0.7em;
}
.ipad header {
  padding-top: 1.22em;
  /*    padding-bottom: 0.7em;*/
}
header:after {
  content: "";
  display: block;
  clear: both;
}
.avatar {
  display: inline-block;
  vertical-align: middle;
}
.iphone .avatar {
  max-width: 2.5em;
  max-height: 2.5em;
}
.ipad .avatar {
  max-width: 4em;
  max-height: 4em;
}
.nameanddate {
  display: inline-block;
  vertical-align: middle;
}
.username {
  margin: 0 0 2px;
}
.postdate {
  font-size: .8em;
  font-weight: lighter;
  -webkit-flex-grow: 1;
  -webkit-flex-wrap: wrap-reverse;
}
.clock {
  box-sizing: border-box;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 50%;
  position: relative;
}
.clock::before,
.clock::after {
  content: "";
  position: absolute;
  bottom: 50%;
  margin-bottom: -0.1em;
  left: 50%;
  margin-left: -0.05em;
}
.clock::before {
  width: 30%;
  height: 0.1em;
}
.clock::after {
  width: 0.1em;
  height: 45%;
}
.clock {
  border-color: #000000;
}
.clock::before,
.clock::after {
  background-color: #000000;
}
.regdate {
  display: block;
  font-size: .8em;
  font-weight: lighter;
  margin: -0.4em 0 0;
}
.username {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  /* Peta's 3D username */
}
.role-admin .username:before {
  color: #990011;
}
.role-mod .username:before {
  color: #006699;
}
@-webkit-keyframes RalpStar {
  0% {
    color: grey;
  }
  49% {
    color: grey;
  }
  50% {
    color: yellow;
  }
  100% {
    color: yellow;
  }
}
.userid-61644 .username:before {
  -webkit-animation: RalpStar 20s;
  -webkit-animation-iteration-count: infinite;
}
.role-admin .username:before,
.role-mod .username:before,
.userid-61644 .username:before {
  content: '★ ';
}
.role-op .username {
  color: #199ed7;
}
.userid-182864 .username {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 4px 0px 1px #00ffff, -2px 0px 1px #ff0000, -2px 0px 1px #ff0000, 4px 0px 1px #00ffff;
}
.chevron {
  position: relative;
  display: inline-block;
  width: 0.5em;
  height: 1em;
}
.chevron::before,
.chevron::after {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 15%;
}
.chevron::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
}
.chevron::after {
  top: 80%;
  -webkit-transform: rotate(-45deg);
}
.chevron::before,
.chevron::after {
  background: #1682b2;
}
.chevron::before,
.chevron::after {
  background: #57ff57;
}
.action-button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: 2.25em;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  line-height: 1em;
}
.postbody img {
  -webkit-user-select: none;
}
.bbc-block {
  border-left: 2px solid #999;
  font-size: 82%;
  margin: 5px 0;
  padding: 0 10px 5px;
}
.ipad .bbc-block {
  margin: 0 10px 1em 10px;
}
.bbc-block h4 {
  margin: 0;
  padding: 1px 0px 2px;
  font-weight: bold;
}
.bbc-block h5 {
  margin: 0;
}
.bbc-block.mention,
.bbc-block.mention h4 a {
  color: #7409a0;
  border-color: #7409a0;
}
code,
pre,
tt {
  font-family: menlo;
  font-size: .9em;
}
span.mention {
  color: #7409a0;
}
.quote_link {
  text-decoration: none;
}
[data-awful-linkified-image] {
  text-decoration: underline;
}
blockquote {
  margin: 0;
}
blockquote img {
  max-width: 160px;
  max-height: 100px;
}
.postbody a {
  -webkit-tap-highlight-color: transparent;
}
.iphone .postbody ol,
.iphone .postbody ul {
  margin: 0;
  padding-left: 1.5em;
}
.bbc-block.code pre {
  margin: 0;
}
.editedby {
  margin-bottom: 0;
  font-size: 90%;
  font-style: italic;
}
.attachment {
  margin: 0;
}
footer {
  display: -webkit-flex;
  -webkit-align-items: center;
}
footer:after {
  content: "";
  display: block;
  clear: both;
}
#ad {
  text-align: center;
}
#ad img {
  max-width: 100%;
}
.iphone #ad {
  padding: .6em;
  padding-bottom: 0;
}
.ipad #ad {
  padding: 1.07em;
  padding-bottom: 0;
}
.userid-16993 .username,
.userid-18101 .username,
.userid-24841 .username,
.userid-26733 .username,
.userid-28714 .username,
.userid-31177 .username,
.userid-33482 .username,
.userid-36528 .username,
.userid-36820 .username,
.userid-42231 .username,
.userid-42402 .username,
.userid-43573 .username,
.userid-46037 .username,
.userid-48818 .username,
.userid-49938 .username,
.userid-50559 .username,
.userid-51722 .username,
.userid-51889 .username,
.userid-53142 .username,
.userid-54025 .username,
.userid-60512 .username,
.userid-60697 .username,
.userid-61583 .username,
.userid-61874 .username,
.userid-62392 .username,
.userid-62734 .username,
.userid-64365 .username,
.userid-66495 .username,
.userid-69977 .username,
.userid-70548 .username,
.userid-71480 .username,
.userid-72246 .username,
.userid-73625 .username,
.userid-74973 .username,
.userid-77223 .username,
.userid-77342 .username,
.userid-77911 .username,
.userid-81853 .username,
.userid-86044 .username,
.userid-87842 .username,
.userid-88715 .username,
.userid-90955 .username,
.userid-92038 .username,
.userid-93264 .username,
.userid-93742 .username,
.userid-98332 .username,
.userid-98969 .username,
.userid-103278 .username,
.userid-105790 .username,
.userid-106100 .username,
.userid-109795 .username,
.userid-109894 .username,
.userid-114919 .username,
.userid-117453 .username,
.userid-118690 .username,
.userid-121245 .username,
.userid-122937 .username,
.userid-124523 .username,
.userid-127047 .username,
.userid-127641 .username,
.userid-128507 .username,
.userid-131591 .username,
.userid-131769 .username,
.userid-132807 .username,
.userid-133061 .username,
.userid-136138 .username,
.userid-137492 .username,
.userid-138272 .username,
.userid-138466 .username,
.userid-141745 .username,
.userid-142744 .username,
.userid-143415 .username,
.userid-145427 .username,
.userid-147598 .username,
.userid-148967 .username,
.userid-149341 .username,
.userid-151796 .username,
.userid-151799 .username,
.userid-154771 .username,
.userid-155141 .username,
.userid-155479 .username,
.userid-156498 .username,
.userid-158810 .username,
.userid-163565 .username,
.userid-163973 .username,
.userid-168623 .username,
.userid-169032 .username,
.userid-169582 .username,
.userid-170022 .username,
.userid-170348 .username,
.userid-171463 .username,
.userid-172459 .username,
.userid-185229 .username,
.userid-185734 .username,
.userid-187884 .username,
.userid-189783 .username,
.userid-194380 .username,
.userid-198884 .username,
.userid-209182 .username,
.userid-209609 .username,
.thread_3570088 .username {
  padding-left: 18px;
  background: url(http://fi.somethingawful.com/images/avatars/soccerball.png) no-repeat left 2px;
}
#end {
  font-weight: normal;
  text-align: center;
  line-height: 1;
  margin-bottom: 10px;
}
body {
  color: #57ff57;
  background-color: #000000;
  font-family: Courier;
}
post {
  background-color: #171717;
  border-bottom-color: #000;
  border-top-color: #000;
}
post.seen {
  background-color: #0b2d0b;
}
.role-admin .username:before {
  content: '★';
}
.role-mod .username:before {
  content: '☆';
}
.role-admin .username,
.role-mod .username {
  background-image: none;
  padding-left: 0;
}
.role-admin .username:before,
.role-mod .username:before {
  color: #57ff57;
}
.role-op .username {
  color: #57ff57;
}
.role-op .username:before {
  content: "⌨ ";
}
.username #bracket::before,
.username #bracket::after {
  background: #57ff57;
}
.action-button {
  color: #57ff57;
  font-size: 1.75em;
  padding: .125em 0;
}
.postbody a,
[data-awful-linkified-image] {
  color: #57ff57;
}
.postdate {
  color: #474747;
}
.clock {
  border-color: #57ff57;
}
.clock::before,
.clock::after {
  background-color: #57ff57;
}
.seen .postdate {
  color: #257a26;
}
.seen .clock {
  border-color: #257a26;
}
.seen .clock::before,
.seen .clock::after {
  background-color: #257a26;
}
.bbc-spoiler:not(.spoiled) {
  color: #57ff57;
  background: #57ff57;
}
.bbc-spoiler:not(.spoiled) li {
  color: #57ff57;
  background: #57ff57;
  list-style: none;
}
.bbc-spoiler:not(.spoiled) img {
  opacity: 0;
}
.bbc-spoiler:not(.spoiled) a:link,
.bbc-spoiler:not(.spoiled) a:visited,
.bbc-spoiler:not(.spoiled) a:active,
.bbc-spoiler:not(.spoiled) [data-awful-linkified-image] {
  color: #57ff57;
}
.bbc-block {
  border-left-color: #57ff57;
}
.bbc-block.mention,
.bbc-block.mention h4,
.bbc-block.mention h4 a {
  color: #b837ed;
  border-color: #b837ed;
}
.bbc-block.mention h4 .mention {
  color: #dd89ff;
}
.editedby .mention {
  color: #dd89ff;
}
/*
 posts-view-dark-emoticons.css
 Awful
 
 Copyright 2013 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
*/
[title~=":bustem:"],
[title~=":effort:"],
[title~=":dealwithit:"],
[title~=":filez:"],
[title~=":fireman:"],
[title~=":firstpost:"],
[title~=":frogon:"],
[title~=":FYH:"],
[title~=":gb2gbs:"],
[title~=":goof:"],
[title~=":qq:"],
[title~=":regd04:"],
[title~=":regd05:"],
[title~=":regd06:"],
[title~=":regd07:"],
[title~=":rice:"],
[title~=":sicknasty:"],
[title~=":vick:"],
[title~=":woop:"],
[title~=":words:"],
[title~=":wtc:"],
[title~=":zerg:"] {
  background: #fff;
}
[title~=":byobear:"],
[title~=":chiyo:"],
[title~=":coal:"],
[title~=":derp:"],
[title~=":dice:"],
[title~=":edi:"],
[title~=":fedora:"],
[title~=":hf:"],
[title~=":iia:"],
[title~=":iiam:"],
[title~=":iiapa:"],
[title~=":laffo:"],
[title~=":lol:"],
[title~=":ms:"],
[title~=":nms:"],
[title~=":nws:"],
[title~=":tbear:"],
[title~=":their:"],
[title~=":whoptc:"],
[title~=":wom:"],
[title~=":wtf:"],
[title~=":yohoho:"] {
  -webkit-filter: invert(100%);
}
.postdate {
  color: #57ff57;
}
.clock {
  border-color: #57ff57;
}
.clock::before,
.clock::after {
  background-color: #57ff57;
}
.seen .postdate {
  color: #57ff57;
}
.seen .postdate .clock {
  border-color: #57ff57;
}
.seen .postdate .clock::before,
.seen .postdate .clock::after {
  background-color: #57ff57;
}
.chevron::before,
.chevron::after {
  background: #1682b2;
}
.chevron::before,
.chevron::after {
  background: #57ff57;
}
