/*
 posts-view-219-winpos95.css
 Awful
 
 Copyright 2012 Awful Contributors. CC BY-NC-SA 3.0 US http://github.com/AwfulDevs/Awful
 */
html {
  font: 15px "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  word-wrap: break-word;
}
.post {
  margin: 10px 5px;
  border-radius: 2px;
}
.iphone .post {
  padding: .4em;
}
.ipad .post {
  padding: 1.07em;
}
.ipad header {
  margin-bottom: 8px;
}
header:after {
  content: "";
  display: block;
  clear: both;
}
.avatar {
  float: left;
}
.iphone .avatar {
  max-width: 2em;
  max-height: 2em;
  margin: 4px 5px 0 0;
}
.ipad .avatar {
  max-width: 4em;
  max-height: 4em;
  margin-right: 8px;
  margin-bottom: .5em;
}
.action-button {
  float: right;
}
.username {
  margin: 0;
}
.ipad .username {
  padding-top: .5em;
}
.postdate {
  display: block;
}
.ipad .postdate {
  padding-bottom: .75em;
}
.regdate {
  display: none;
}
header {
  padding-bottom: 0;
  border-bottom: 1px solid;
}
.username {
  font-size: 1em;
  display: inline-block;
}
.role-admin .username {
  background-image: url('adminstar.png');
}
.role-mod .username {
  background-image: url('modstar.png');
}
.role-admin .username,
.role-mod .username {
  padding-left: 18px;
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: auto 1em;
}
.role-op .username {
  color: #199ed7;
}
.action-button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: 2.85em;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  background-color: transparent;
}
.iphone .action-button {
  line-height: 1em;
}
.ipad .action-button {
  line-height: 1.5em;
}
.postdate {
  font-size: 0.85em;
}
.postbody img {
  -webkit-user-select: none;
}
.postbody img,
.postbody iframe {
  max-width: 100%;
}
.iphone .postbody {
  padding: .36em 0;
}
.bbc-block h4 {
  margin: 0;
  padding: 1px 0 2px;
  font-size: 0.85em;
  font-style: italic;
}
.bbc-block h5 {
  margin: 0;
  font-size: 0.8em;
}
.ipad .bbc-block {
  margin: 0 10px 1em 10px;
}
.bbc-block.mention {
  background-color: rgba(162, 205, 90, 0.5);
}
span.mention {
  color: #b373fc;
}
.quote_link {
  text-decoration: none;
}
blockquote {
  margin: 0;
  padding: 0 10px;
  font-size: 0.85em;
  border-left: 1px solid #999;
}
.dark blockquote {
  border-left-color: #555;
}
blockquote img {
  max-width: 160px;
  max-height: 100px;
}
.postbody a {
  -webkit-tap-highlight-color: transparent;
}
.iphone .postbody ol,
.iphone .postbody ul {
  margin: 0;
  padding-left: 1.5em;
}
.bbc-block.code pre {
  margin: 0;
  font-size: 0.75em;
}
.editedby {
  margin-top: 5px;
  font-size: 0.75em;
  font-style: italic;
}
.attachment {
  margin: 0;
}
#ad {
  text-align: center;
}
#ad img {
  max-width: 100%;
}
#end {
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin-bottom: 10px;
}
#loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#loading .container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 60px;
  margin-top: -30px;
}
#loading .spinner {
  margin: 0 auto;
}
html {
  font-family: Arial;
  -webkit-font-smoothing: none;
}
body {
  color: #000;
  background: #008080;
}
.post {
  margin: 5px;
  padding: 0;
  border: 2px groove #808080;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  background-color: #c0c0c0;
  background-image: url('winpos95-heading-left.png'), url('winpos95-heading-right.png'), url('winpos95-heading.png');
  background-position: top left, top right, top left;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 77px 18px, 52px 18px, 1px 18px;
  border-radius: 0;
}
.post.seen {
  background-image: url('winpos95-heading-left-seen.png'), url('winpos95-heading-right.png'), url('winpos95-heading-seen.png');
}
.ipad .post {
  min-height: 178px;
  padding: 25px 5px 40px 5px;
}
header {
  border-bottom: 1px solid #ccc;
}
.iphone header {
  margin-top: 18px;
}
.ipad header {
  margin-top: 8px;
  padding-bottom: 8px;
}
.role-op .username {
  color: #000;
  text-transform: italic;
}
.action-button {
  position: relative;
  width: 52px;
  height: 30px;
  font-size: 14px;
  background: #c0c0c0;
  border: 2px groove #808080;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  text-indent: 100%;
  white-space: nowrap;
}
.action-button:after {
  content: "Start";
  position: absolute;
  right: 7px;
  padding-right: 2px;
  color: #000;
  font-weight: bold;
}
.ipad .action-button {
  margin-top: 10px;
}
.postbody a {
  color: #000;
}
.bbc-spoiler {
  color: #000000;
  background: #000000;
}
.bbc-spoiler li {
  color: #000000;
  background: #000000;
  list-style: none;
}
.bbc-spoiler img {
  visibility: hidden;
}
.bbc-spoiler a:link,
.bbc-spoiler a:visited,
.bbc-spoiler a:active {
  color: #000000;
}
.bbc-spoiler.spoiled {
  background: transparent;
}
.bbc-spoiler.spoiled li {
  background: transparent;
  list-style: inherit;
}
.bbc-spoiler.spoiled img {
  visibility: visible;
}
blockquote,
.dark blockquote {
  border-left-color: #000;
}
#loading {
  background: center center no-repeat url('hourglass.gif');
}
#loading .container {
  top: 60%;
  margin-top: -10px;
}
.ipad #loading .container {
  margin-top: -50px;
}
#loading .progress-bar {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  border: none;
}
#loading .progress-bar > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#loading p {
  font-weight: bold;
  text-align: center;
}
