/*
 posts-view-26.css
 Awful
 
 Copyright 2012 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
*/
html {
  font-family: "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  word-wrap: break-word;
}
.post {
  margin: 8px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.post:first-child {
  margin-top: 0;
}
.iphone .post {
  padding: .6em;
  padding-bottom: 0;
}
.ipad .post {
  padding: 1.07em;
  padding-bottom: 0;
}
.post:last-of-type,
.post.seen:last-of-type {
  border-bottom: none;
}
header {
  margin: .25em 0;
}
.ipad header {
  margin-bottom: 8px;
}
header:after {
  content: "";
  display: block;
  clear: both;
}
.avatar {
  float: left;
}
.iphone .avatar {
  max-height: 2.5em;
  max-width: 2.5em;
  margin: 6px 5px 0 0;
}
.ipad .avatar {
  max-height: 4em;
  margin-right: 8px;
  margin-bottom: .5em;
}
.action-button {
  float: right;
}
.username {
  margin: 0;
  padding-top: .3em;
}
.ipad .username {
  padding-top: .5em;
}
.postdate {
  font: -apple-system-subheadline;
  font-size: .8em;
  font-weight: lighter;
  float: left;
  margin: .6em 0;
  background-image: url('clock.png');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 16px;
  background-size: 12px;
}
.regdate {
  display: block;
  font: -apple-system-subheadline;
  font-size: .8em;
  font-weight: lighter;
  margin: -0.4em 0 0;
}
.ipad .regdate {
  padding-bottom: .75em;
}
header {
  padding-bottom: 0;
}
.username {
  font: -apple-system-headline;
  display: inline-block;
}
.username #bracket {
  display: inline-block;
  position: relative;
  height: 16px;
  width: 8px;
}
.username #bracket::before,
.username #bracket::after {
  content: '';
  position: absolute;
  left: 5px;
  height: 15%;
  width: 100%;
  background: #1682b2;
}
.username #bracket::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
}
.username #bracket::after {
  top: 81%;
  -webkit-transform: rotate(-45deg);
}
.role-admin .username:before {
  color: #990011;
}
.role-mod .username:before {
  color: #006699;
}
.role-admin .username:before,
.role-mod .username:before {
  content: '★';
}
.role-op .username {
  color: #199ed7;
}
.action-button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: 2.25em;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  background-color: transparent;
  line-height: 1em;
}
.postbody {
  font: -apple-system-body;
}
.postbody img {
  -webkit-user-select: none;
}
.postbody img,
.postbody iframe {
  max-width: 100%;
}
.iphone .postbody {
  padding: .36em 0;
}
.bbc-block h4 {
  margin: 0;
  padding: 1px 0 2px;
  font: -apple-system-footnote;
}
.bbc-block h5 {
  margin: 0;
  font: -apple-system-caption1;
}
.ipad .bbc-block {
  margin: 0 10px 1em 10px;
}
.bbc-block.mention,
.bbc-block.mention h4 a {
  color: #7409a0;
  border-color: #7409a0;
}
code,
pre,
tt {
  font-family: menlo;
}
span.mention {
  color: #7409a0;
}
.quote_link {
  text-decoration: none;
}
blockquote {
  margin: 0;
  padding: 0 10px;
  font: -apple-system-caption1;
  border-left: 1px solid #999;
}
blockquote img {
  max-width: 160px;
  max-height: 100px;
}
.postbody a {
  -webkit-tap-highlight-color: transparent;
}
.iphone .postbody ol,
.iphone .postbody ul {
  margin: 0;
  padding-left: 1.5em;
}
.bbc-block.code pre {
  margin: 0;
  font: -apple-system-caption1;
}
.editedby {
  margin-top: 5px;
  font: -apple-system-caption1;
  font-style: italic;
}
.attachment {
  margin: 0;
}
footer {
  font: -apple-system-subheadline2;
}
footer:after {
  content: "";
  display: block;
  clear: both;
}
#ad {
  text-align: center;
}
#ad img {
  max-width: 100%;
}
.iphone #ad {
  padding: .6em;
  padding-bottom: 0;
}
.ipad #ad {
  padding: 1.07em;
  padding-bottom: 0;
}
#end {
  font-weight: normal;
  text-align: center;
  line-height: 1;
  margin-bottom: 10px;
}
body {
  background-color: #f99;
}
.iphone .post,
.ipad .post {
  padding: 0;
}
.postbody {
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid #000;
}
.ipad .postbody {
  padding: 5px;
}
.iphone .postbody {
  padding: .36em;
  margin-top: -4px;
}
header {
  position: relative;
  height: 69px;
  background-size: 70px 26px;
  border-bottom-width: 0px;
}
.iphone header {
  top: 3px;
  background: 40px bottom no-repeat url('fyad-bubble.png');
  background-size: 75px 25px;
}
.ipad header {
  top: 11px;
  padding: 0 15px 15px 15px;
  background: 65px bottom no-repeat url('fyad-bubble.png');
  background-size: 70px 25px;
}
#bracket::before,
#bracket::after {
  background: #000000;
}
.regdate {
  display: none;
}
.iphone .avatar {
  max-width: 50px;
  max-height: 50px;
}
.role-op .username {
  color: #f39;
}
.ipad .postdate {
  display: block;
}
.action-button {
  color: #f39;
  font-size: 2.5em;
}
.postbody a {
  color: #f39;
}
.bbc-spoiler {
  color: #000000;
  background: #000000;
}
.bbc-spoiler li {
  color: #000000;
  background: #000000;
  list-style: none;
}
.bbc-spoiler img {
  visibility: hidden;
}
.bbc-spoiler a:link,
.bbc-spoiler a:visited,
.bbc-spoiler a:active {
  color: #000000;
}
.bbc-spoiler.spoiled {
  background: transparent;
}
.bbc-spoiler.spoiled li {
  background: transparent;
  list-style: inherit;
}
.bbc-spoiler.spoiled img {
  visibility: visible;
}
.bbc-block h4,
.bbc-block h5 {
  color: #555;
}
#end {
  line-height: 3em;
  color: #000;
}
