/*
 posts-view.css
 Awful
 
 Copyright 2012 Awful Contributors. CC BY-NC-SA 3.0 US http://github.com/AwfulDevs/Awful
*/
html {
  font: 14px "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  word-wrap: break-word;
}
.post {
  margin: 10px 5px;
  border-radius: 5px;
}
.iphone .post {
  padding: 5px;
}
.ipad .post {
  padding: 15px;
}
.ipad header {
  margin-bottom: 8px;
}
header:after {
  content: "";
  display: block;
  clear: both;
}
.avatar {
  float: left;
}
.iphone .avatar {
  max-width: 2em;
  max-height: 2em;
  margin: 3px 5px 0 0;
}
.ipad .avatar {
  max-width: 4em;
  max-height: 4em;
  margin-right: 8px;
}
.action-button {
  float: right;
}
.username {
  margin: 0;
}
.ipad .username {
  padding-top: 5px;
}
.postdate {
  display: block;
}
.regdate {
  display: none;
}
header {
  padding-bottom: 5px;
  border-bottom: 1px solid;
}
.username {
  font-size: 1em;
}
.role-admin .username {
  background-image: url('adminstar.png');
}
.role-mod .username {
  background-image: url('modstar.png');
}
.role-admin .username, .role-mod .username {
  padding-left: 18px;
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: auto 1em;
}
.role-op .username {
  color: #199ed7;
}
.action-button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: 2.85em;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}
.postdate {
  font-size: 0.85em;
}
.postbody img {
  -webkit-user-select: none;
}
.postbody img, .postbody iframe {
  max-width: 100%;
}
.iphone .postbody {
  padding: 5px;
}
.bbc-block h4 {
  margin: 0;
  padding: 1px 0 2px;
  font-size: 0.85em;
  font-style: italic;
}
.bbc-block h5 {
  margin: 0;
  font-size: 0.8em;
}
.ipad .bbc-block {
  margin: 0 10px 1em 10px;
}
.bbc-block.mention {
  background-color: rgba(162, 205, 90, 0.5);
}
span.mention {
  color: #b373fc;
}
.quote_link {
  text-decoration: none;
}
blockquote {
  margin: 0;
  padding: 0 10px;
  font-size: 0.85em;
  border-left: 1px solid #999;
}
.dark blockquote {
  border-left-color: #555;
}
blockquote img {
  max-width: 160px;
  max-height: 100px;
}
.postbody a {
  -webkit-tap-highlight-color: transparent;
}
.iphone .postbody ol, .iphone .postbody ul {
  margin: 0;
  padding-left: 1.5em;
}
.bbc-block.code pre {
  margin: 0;
  font-size: 0.75em;
}
.editedby {
  margin-top: 5px;
  font-size: 0.75em;
  font-style: italic;
}
#ad {
  text-align: center;
}
#end {
  text-align: center;
  line-height: 2em;
}
#loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#loading .container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 60px;
  margin-top: -30px;
}
#loading .spinner {
  margin: 0 auto;
}
body {
  background-color: #d1d1d1;
}
body.dark {
  color: white;
  background-color: #131313;
}
.post {
  background-color: white;
  box-shadow: 0 0 5px 5px #c1c1c1;
}
.post.seen {
  background-color: #dbe8f5;
}
.dark .post {
  background-color: #313131;
  box-shadow: none;
}
.dark .post .seen {
  background-color: #121e2e;
}
header {
  border-bottom-color: #f0f0f0;
}
.dark header {
  border-bottom-color: #4e4e4e;
}
.seen header {
  border-bottom-color: #d5dfe9;
}
.dark .seen header {
  border-bottom-color: #536879;
}
.action-button {
  position: relative;
  top: -0.1em;
  color: #d5d5d5;
}
.dark .action-button {
  color: #777;
}
.dark .seen .action-button {
  color: #536879;
}
.seen .action-button {
  color: #9cb2c7;
}
.postbody a {
  color: #036;
}
.dark .postbody a {
  color: #93daff;
}
.bbc-spoiler {
  color: #000000;
  background: #000000;
}
.bbc-spoiler li {
  color: #000000;
  background: #000000;
  list-style: none;
}
.bbc-spoiler img {
  visibility: hidden;
}
.bbc-spoiler a:link, .bbc-spoiler a:visited, .bbc-spoiler a:active {
  color: #000000;
}
.dark  .bbc-spoiler {
  color: #ffffff;
  background: #ffffff;
}
.dark  .bbc-spoiler li {
  color: #ffffff;
  background: #ffffff;
  list-style: none;
}
.dark  .bbc-spoiler img {
  visibility: hidden;
}
.dark  .bbc-spoiler a:link, .dark  .bbc-spoiler a:visited, .dark  .bbc-spoiler a:active {
  color: #ffffff;
}
.bbc-spoiler.spoiled {
  background: transparent;
}
.bbc-spoiler.spoiled li {
  background: transparent;
  list-style: inherit;
}
.bbc-spoiler.spoiled img {
  visibility: visible;
}
.bbc-block h4, .bbc-block h5 {
  color: #555;
}
.dark .bbc-block h4, .dark .bbc-block h5 {
  color: #999;
}
#end {
  color: #636363;
  line-height: 3em;
  text-shadow: white 0 1px;
}
.dark #end {
  color: white;
  text-shadow: black 0 1px;
}
#loading .container {
  color: #636363;
}
#loading .progress-bar {
  display: none;
  color: #636363;
}
.dark #loading .progress-bar {
  color: #fff;
}
#loading p {
  padding-top: 30px;
  text-align: center;
  text-shadow: #dddddd 0 -1px;
}
.dark #loading p {
  text-shadow: #555555 0 -1px;
}
