// Standard YOSPOS console theme.
// -------------------------

// Set @color, @seencolor, @bordercolor before @importing this file.

@import "base.less";

html {
  font-family: monospace;
}

body {
  color: @color;
  background-color: #000;
}

.post {
  position: relative;
  margin: 10px 5px;
  padding: 5px;
  background-color: #191919;
  border-radius: 5px;
  
  &.seen {
    background-color: @seencolor;
  }
}

header {
  background: -webkit-linear-gradient(left top, transparent 50%, rgba(0, 0, 0, 0.035));
  
  .iphone & {
    border-bottom: 1px solid #444;
  }
  .iphone .seen & {
    border-bottom-color: @bordercolor;
  }
}

.iphone .username {
  display: inline-block;
  margin: 0;
  padding-top: 4px;
  vertical-align: middle;
  font-size: 1em;
}

.ipad .action-button {
  bottom: 12px;
}

// Action button is a centered ellipsis.
.action-button:after {
  content: "⋯";
  color: @color;
  font-size: 40px;
  font-weight: bold;
  
  .ipad & {
    font-size: 30px;
    width: 38px;
    top: -7px;
  }
}

.postbody a {
  color: @color;
}

@import "spoilers.less";
.spoilers(@color);

blockquote,
.dark blockquote {
  border-left-color: @color;
}

#loading {
  .container {
    margin-top: -25px;
  }
  
  .progress-bar {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    border: 2px solid @color;
    
    & > div {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      -webkit-animation: spin 0.5s step-end infinite;
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        25% { -webkit-transform: rotate(25deg); }
        50% { -webkit-transform: rotate(90deg); }
        75% { -webkit-transform: rotate(155deg); }
      }
      
      &::after {
        content: "|";
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
  
  p {
    text-align: center;
    font-weight: bold;
  }
}
