// Standard YOSPOS console theme.
// -------------------------

// Set @color, @seencolor, @bordercolor before @importing this file.

@import "base.less";

html {
  font-family: monospace;
}

body {
  color: @color;
  background-color: #000;
}

.post {
  background-color: #191919;
  
  &.seen {
    background-color: @seencolor;
  }
}

.username {
  .role-admin &:before {
    content: '★';
  }
  
  .role-mod &:before {
    content: '☆';
  }
  
  .role-admin &,
  .role-mod & {
    background-image: none;
    padding-left: 0;
  } 
   
  .role-op & {
	color: @color;

	&:before {
	  content: "⌨ ";
	}
  }
}

.action-button {
  color: @color;
}

.postbody a {
  color: @color;
}

@import "spoilers.less";
.spoilers(@color);

blockquote {
  border-left-color: @color;
}
