CHANGELOG.md merge=union
App/Sourcery/*.generated.* linguist-generated
App/Theming/*.css linguist-generated
Core/Tests/Fixtures/*.html linguist-vendored
Gemfile.lock linguist-generated
Podfile.lock linguist-generated
Pods/* linguist-vendored
Vendor/* linguist-vendored
