html, body {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fff;
}

#nav_purchase, #navigation, #globalmenu, #oma_pal {
    display: none;
}

div.breadcrumbs {
    display: none;
}

ul.postbuttons {
    display: none;
}

td.postlinks, td.postdate {
    display: none;
}

p.editedby {
    display: none;
}

dd.title {
    display: none;
}

table.standard tr td.altcolor1 { background:#f4f4f4; }
table.standard tr td.altcolor2 { background:#e8e8e8; }
.altcolor1, tr.altcolor1 td, td.altcolor1 { background-color:#f4f4f4; }
.altcolor2, tr.altcolor2 td, td.altcolor2 { background-color:#e8e8e8; }