// These lines set up the .entitlements file needed to make the App Group work for communication between the Awful app and the Smilie Keyboard extension. See README.md for more details.
// CODE_SIGN_ENTITLEMENTS = ${CODE_SIGN_ENTITLEMENTS_${TARGET_NAME}}
// CODE_SIGN_ENTITLEMENTS_Awful = ../Local.entitlements
// CODE_SIGN_ENTITLEMENTS_SmilieKeyboard = ../Local.entitlements

// To get builds running on your device, uncomment this next line and paste in your Team ID from the Developer Portal.
// DEVELOPMENT_TEAM = YOUR_TEAM_ID_HERE

// For Imgur functionality, obtain an Imgur API client ID by making a new one at http://api.imgur.com/oauth2/addclientor or using an existing one from https://imgur.com/account/settings/apps then specify the ID here.
// IMGUR_CLIENT_ID = YOUR_CLIENT_ID_HERE
