<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">

<style id="awful-inline-style">
    {{{ stylesheet }}}
</style>

<style id="awful-external-style">
    {{{ externalStylesheet }}}
</style>

<style id="awful-font-scale-style">
    {{> FontScale }}
</style>

<body class="{{ userInterfaceIdiom }} {{# threadID }}thread-{{.}}{{/ }} {{# forumID }}forum-{{.}}{{/ }}" data-version="{{ version }}">
    <div id="posts">
        {{# posts }}
            {{> Post }}
        {{/ }}
    </div>

    <div id="ad">
        {{{ advertisementHTML }}}
    </div>

    {{# endMessage }}
        <div id="end">
            {{ . }}
        </div>
    {{/ }}

    <script>
        {{{ script }}}
    </script>
    
    <script>
        Awful._highlightMentionUsername = "{{ javascript.escape(loggedInUsername) }}";
    </script>
</body>
