<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">

<style>
    {{{ stylesheet }}}
</style>

<body class="{{ userInterfaceIdiom }} {{# dark }}dark{{/ }}">
    <section id="headerBackground">
        <section style="background-image:url('{{ avatarURL }}')"></section>
    </section>

    <section id="content">
        <section>
            {{# customTitleHTML }}
                <header>
                    {{{ . }}}
                </header>
            {{/ }}
            <p>
                There have been <b>{{ postCount }}</b> posts made by <i>{{ username }}</i>, an average of {{ postRate }} posts per day, since registering on <b>{{ regDateFormat(regdate) }}</b>. <i>{{ username }}</i> claims to be a {{ gender }}.
            </p>

            <p>{{ aboutMe }}</p>

            {{# profilePictureURL }}<img src="{{ . }}" alt="">{{/ profilePictureURL }}
        </section>

        <section>
            {{# anyContactInfo }}
                <table id="contact">
                    <caption>Contact Information</caption>
                    {{# privateMessagesWork }}<tr><th>Private Message</th><td>{{ username }}</td></tr>{{/ }}
                    {{# aimName }}<tr><th>AIM</th><td>{{ . }}</td></tr>{{/ }}
                    {{# icqName }}<tr><th>ICQ</th><td>{{ . }}</td></tr>{{/ }}
                    {{# yahooName }}<tr><th>Yahoo!</th><td>{{ . }}</td></tr>{{/ }}
                    {{# homepageURL }}<tr><th>Homepage</th><td>{{ . }}</td></tr>{{/ }}
                </table>
            {{/ }}

            <table>
                <caption>Additional Information</caption>
                {{# regdate }}<tr><th>Member Since</th><td>{{ regDateFormat(.) }}</td></tr>{{/ }}
                {{# postCount }}<tr><th>Post Count</th><td>{{ postCount }}</td></tr>{{/ }}
                {{# postRate }}<tr><th>Post Rate</th><td>{{ . }} posts per day</td></tr>{{/ }}
                {{# lastPost }}<tr><th>Last Post</th><td>{{ lastPostDateFormat(.) }}</td></tr>{{/ }}
                {{# location }}<tr><th>Location</th><td>{{ . }}</td></tr>{{/ }}
                {{# interests }}<tr><th>Interests</th><td>{{ . }}</td></tr>{{/ }}
                {{# occupation }}<tr><th>Occupation</th><td>{{ . }}</td></tr>{{/ }}
            </table>
        </section>
    </section>

    <script>{{{ JavaScriptLibraries }}}</script>

    <script>
    $(function() {
        FastClick.attach(document.body);
    });
    </script>
    
    <script>
    function startBridge(callback) {
        if (window.WebViewJavascriptBridge) {
            callback(WebViewJavascriptBridge);
        } else {
            document.addEventListener('WebViewJavascriptBridgeReady', function() {
                callback(WebViewJavascriptBridge);
            }, false);
        }
    }
    
    startBridge(function(bridge) {
        bridge.init();
        
        $(function() {
            $('#contact').on('click', 'tr', function(event) {
                var row = $(this);
                var service = row.find('th').text();
                var address = row.find('td').text();
                var rect = row.offset();
                rect.left -= window.pageXOffset;
                rect.top -= window.pageYOffset;
                var data = {
                    service: service,
                    address: address,
                    rect: rect
                };
                bridge.callHandler('contactInfo', data);
            });
        });
    });
    </script>
    
    <script>
    $(function() {
        $('#content').on('click', '.bbc-spoiler', function(e) {
            var target = $(e.target);
            var spoiler = target.closest('.bbc-spoiler');
            if (!spoiler.hasClass('spoiled') && target.filter('a').length) {
                e.preventDefault();
            }
            spoiler.toggleClass('spoiled');
        });
    });
    </script>
</body>
