<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>:a2m:</string>
	<string>:asoiaf:</string>
	<string>:awesome:</string>
	<string>:c00lbutt:</string>
	<string>:ccb:</string>
	<string>:cumpolice:</string>
	<string>:dong:</string>
	<string>:emo:</string>
	<string>:flaccid:</string>
	<string>:flame:</string>
	<string>:gizz:</string>
	<string>:goatsecx:</string>
	<string>:godwinning:</string>
	<string>:huh:</string>
	<string>:jackbud:</string>
	<string>:kheldragar:</string>
	<string>:milk:</string>
	<string>:shrek:</string>
	<string>:smithicide:</string>
	<string>:smugissar:</string>
	<string>:sonia:</string>
	<string>:suicide:</string>
	<string>:tfrxmas:</string>
	<string>:tutbutt:</string>
	<string>:tviv:</string>
	<string>:tvtropes:</string>
	<string>:ubisoft:</string>
	<string>:xbone:</string>
	<string>:yosbutt:</string>
</array>
</plist>
