#thread dl.userinfo dt.fire
{
	background-image:url(//fi.somethingawful.com/images/svgs/fireicon.gif);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.burrito
{
	background-image:url(//fi.somethingawful.com/images/svgs/burrito2.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.burrito-blue
{
	background-image:url(//fi.somethingawful.com/images/svgs/burrito2-bluewrapper.png);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.palpek
{
	background-image:url(//fi.somethingawful.com/images/svgs/palpek.svg);
	background-size: 15px;
}

#thread dl.userinfo dt.jose
{
	background-image:url(//fi.somethingawful.com/images/svgs/josiasfunke.png);
	background-size: 15px;
	line-height:19px!important;
}

#thread dl.userinfo dt.labfeather
{
	background-image:url(//downloads.somethingawful.com/misc/labird.png);
	background-size: 15px;
}

#thread dl.userinfo dt.exmarx
{
	background-image:url(//fi.somethingawful.com/images/svgs/exmarx.svg);
	background-size: 15px;
}

#thread dl.userinfo dt.filmroll
{
	background-image:url(//downloads.somethingawful.com/misc/filmroll.svg);
	background-size: 15px;
}

#thread dl.userinfo dt.filmroll-black
{
	background-image:url(//downloads.somethingawful.com/misc/filmroll-black.svg);
	background-size: 15px;
}

#thread dl.userinfo dt.jojo
{
	background-image:url(//downloads.somethingawful.com/misc/jojo2.svg);
	background-size: 15px;
}

#thread dl.userinfo dt.marioluma
{
	background-image:url(//fi.somethingawful.com/images/svgs/marioluma.svg);
	background-size: 15px;
}

#thread dl.userinfo dt.metroid
{
	background-image:url(//downloads.somethingawful.com/misc/metroid.svg);
	background-size: 15px;
}

#thread dl.userinfo dt.moneybag
{
	background-image:url(//fi.somethingawful.com/images/svgs/moneybag.svg);
	background-size: 18px!important;
	line-height:19px!important;
}

#thread dl.userinfo dt.nespad
{
	background-image:url(//downloads.somethingawful.com/misc/nespad4.svg);
	background-size: 15px;
}

#thread dl.userinfo dt.nespad-blue
{
	background-image:url(//downloads.somethingawful.com/misc/nespad2.svg);
	background-size: 15px;
}

#thread dl.userinfo dt.nespad-red
{
	background-image:url(//downloads.somethingawful.com/misc/nespad3.svg);
	background-size: 15px;
}

#thread dl.userinfo dt.potleaf
{
	background-image:url(//downloads.somethingawful.com/misc/potleaf.svg);
	background-size: 15px;
}

#thread dl.userinfo dt.soccerball
{
	background-image:url(//downloads.somethingawful.com/misc/soccerball.svg);
	background-size: 15px;
}

#thread dl.userinfo dt.soccerball-black
{
	background-image:url(https://fi.somethingawful.com/images/svgs/soccerball-black.svg);
	background-size: 15px;
}

#thread dl.userinfo dt.fiftyblessings
{
	background-image:url(//downloads.somethingawful.com/misc/50_blessings.png);
	background-size: 15px;
}

#thread dl.userinfo dt.fiftyblessings-black
{
	background-image:url(//downloads.somethingawful.com/misc/50_blessings_black.png);
	background-size: 15px;
}

#thread dl.userinfo dt.matoi
{
	background-image:url(//fi.somethingawful.com/images/matoi.png);
	background-size: 15px;
}

#thread dl.userinfo dt.coder
{
	background-image:url(//i.somethingawful.com/images/image-coder.png);
}

#thread dl.userinfo dt.idiotking
{
	background-image:url(//i.somethingawful.com/images/ik.png);
}

#thread dl.userinfo dt.diamond
{
	background-image:url(//i.somethingawful.com/images/diamond-icon.png);
}

#thread dl.userinfo dt.redpill
{
	background-image:url(//i.somethingawful.com/images/redpill.png);
}

#thread dl.userinfo dt.award
{
	background-image:url(//i.somethingawful.com/images/award.png);
}

#thread dl.userinfo dt.impzoneik
{
	background-image:url(//i.somethingawful.com/images/permaik.png);
	background-size: 15px;
}

#thread dl.userinfo dt.magikoopa
{
	background-image:url(//fi.somethingawful.com/images/magikoopa2.gif);
	background-size:auto;
	padding-left:44px!important;
	line-height:30px!important;
}

#thread dl.userinfo dt.astral
{
	background-image: url(https://fi.somethingawful.com/images/usericons/astral_2207.jpg);
	background-size: 20px;
	padding-left: 24px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.kensei
{
	background-image:url(//downloads.somethingawful.com/misc/kensei.svg);
	background-size:20px;
	padding-left:20px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.tflcspotter
{
	background-image:url(//fi.somethingawful.com/images/avatars/ylls-spotter.png);
}

#thread dl.userinfo dt.dtwenty
{
	background-image:url(//downloads.somethingawful.com/misc/d20.svg);
}

#thread dl.userinfo dt.book
{
	background-image: url(//downloads.somethingawful.com/misc/book.svg);
	background-size: 18px;
	padding-left: 20px!important;
	line-height: 18px!important;
}

#thread dl.userinfo dt.book-black
{
	background-image: url(https://fi.somethingawful.com/images/svgs/book-black.svg);
	background-size: 18px;
	padding-left: 20px!important;
	line-height: 18px!important;
}

#thread dl.userinfo dt.tragedy
{
	background-image:url(//downloads.somethingawful.com/misc/tragedy.svg);
}

#thread dl.userinfo dt.poop
{
	background-image:url(//downloads.somethingawful.com/misc/poop.svg);
}

#thread dl.userinfo dt.kirbystar
{
	background-image:url(//downloads.somethingawful.com/misc/kirbystar.svg);
}

#thread dl.userinfo dt.helix
{
	background-image:url(//downloads.somethingawful.com/misc/helix.svg);
}

#thread dl.userinfo dt.hawkeye
{
	background-image:url(//downloads.somethingawful.com/misc/hawkeye.svg);
}

#thread dl.userinfo dt.duckie
{
	background-image:url(//downloads.somethingawful.com/misc/FluffieDuckie-yellow2.svg);
	background-size:20px;
	padding-left:20px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.meltdown
{
	background-image:url(https://fi.somethingawful.com/images/svgs/nuclear-warning_Clipart_svg_File.svg);
	background-size: 15px;
	padding-left:20px!important;
}

#thread dl.userinfo dt.meltdown-blue
{
	background-image:url(https://fi.somethingawful.com/images/svgs/nuclear-blue.svg);
	background-size: 15px;
	padding-left:20px!important;
}

#thread dl.userinfo dt.chome
{
	background-image:url(https://fi.somethingawful.com/safs/smilies/e/a/chome.001.gif);
	background-size: 15px;
}

#thread dl.userinfo dt.balrog
{
	background-image:url(https://fi.somethingawful.com/images/svgs/balrog.svg);
	background-size: 20px;
}

#thread dl.userinfo dt.balrogred
{
	background-image:url(https://fi.somethingawful.com/images/svgs/balrogred.svg);
	background-size: 20px;
}

#thread dl.userinfo dt.phone
{
	background-image:url(https://fi.somethingawful.com/images/svgs/phonecenter.svg);
	background-size: 20px;
	padding-left: 20px!important;
	line-height: 22px!important;
}

#thread dl.userinfo dt.phone-black
{
	background-image:url(https://fi.somethingawful.com/images/svgs/phonecenter-black.svg);
	background-size: 20px;
	padding-left: 20px!important;
	line-height: 22px!important;
}

#thread dl.userinfo dt.blindsally
{
	background-image:url(https://fi.somethingawful.com/images/svgs/blindsally.svg);
	background-size: 18px;
	line-height: 18px !important;
}

#thread dl.userinfo dt.gear
{
	background-image:url(https://fi.somethingawful.com/images/svgs/gear.svg);
	background-size: 20px;
	padding-left:22px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.gear-black
{
	background-image:url(https://fi.somethingawful.com/images/svgs/gear-black.svg);
	background-size: 20px;
	padding-left:22px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.exile
{
	background-image:url(https://fi.somethingawful.com/images/svgs/exile.svg);
	background-size: 20px;
}

#thread dl.userinfo dt.ldgear
{
	background-image: url(https://fi.somethingawful.com/images/svgs/ldgear.svg);
	background-size: 15px;
	padding-left: 18px !important;
	line-height: 15px !important;
}

#thread dl.userinfo dt.reene
{
	background-image:url(https://fi.somethingawful.com/images/svgs/reene.png);
	background-size: 20px;
	padding-left:20px!important;
	line-height:23px!important;
}

#thread dl.userinfo dt.reene-red
{
	background-image:url(https://fi.somethingawful.com/images/svgs/reene-red2.png);
	background-size: 20px;
	padding-left:20px!important;
	line-height:23px!important;
}

#thread dl.userinfo dt.egg
{
	background-image:url(https://fi.somethingawful.com/images/svgs/egg.svg);
	background-size: 20px;
	padding-left:23px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.football
{
	background-image:url(https://fi.somethingawful.com/images/svgs/football.svg);
	background-size: 20px;
}

#thread dl.userinfo dt.football-red
{
	background-image:url(https://fi.somethingawful.com/images/svgs/football-red.svg);
	background-size: 20px;
}

#thread dl.userinfo dt.heart
{
	background-image:url(https://fi.somethingawful.com/images/svgs/heart.svg);
	background-size: 20px;
	padding-left:22px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.freakfuta
{
	background-image:url(https://fi.somethingawful.com/images/platiconbird.png);
}

#thread dl.userinfo dt.netcafe
{
	background-image:url(https://fi.somethingawful.com/images/lmao.png);
	background-size:20px;
	padding-left:20px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.canada
{
	background-image:url(https://fi.somethingawful.com/images/svgs/mapleleaf.svg);
	background-size: 20px;
}

#thread dl.userinfo dt.potion
{
	background-image:url(https://fi.somethingawful.com/images/svgs/potion2.svg);
	background-size: 20px;
	padding-left:20px!important;
	line-height:23px!important;
}

#thread dl.userinfo dt.schnee
{
	background-image:url(https://fi.somethingawful.com/images/svgs/schnee.svg);
	background-size: 18px;
}

#thread dl.userinfo dt.commie
{
	background-image:url(https://fi.somethingawful.com/images/svgs/commie.svg);
	background-size:20px;
	padding-left:20px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.commie-blue
{
	background-image:url(https://fi.somethingawful.com/images/svgs/commie-darkerblue.svg);
	background-size:20px;
	padding-left:20px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.feather
{
	background-image:url(https://fi.somethingawful.com/images/svgs/feather.svg);
	background-size:20px;
	padding-left:20px!important;
	line-height:20px!important;
}
#thread dl.userinfo dt.feather-blue
{
	background-image:url(https://fi.somethingawful.com/images/svgs/featherblue.svg);
	background-size:20px;
	padding-left:20px!important;
	line-height:20px!important;
}
#thread dl.userinfo dt.feather-red
{
	background-image:url(https://fi.somethingawful.com/images/svgs/featherred.svg);
	background-size:20px;
	padding-left:20px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.literallyabirdred
{
	background-image:url(https://fi.somethingawful.com/images/svgs/birdstar2aRed.svg);
	background-size:23px;
	padding-left:20px!important;
	line-height:27px!important;
}

#thread dl.userinfo dt.cup
{
	background-image:url(https://fi.somethingawful.com/images/svgs/cup.svg);
	background-size:20px;
	padding-left:20px!important;
	padding-right:12px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.modhammer
{
	background-image:url(https://fi.somethingawful.com/images/svgs/modhammermono.svg);
	background-size:20px;
	padding-left:20px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.literallyabird
{
	background-image:url(https://fi.somethingawful.com/images/svgs/birdstar2a.svg);
	background-size:23px;
	padding-left:20px!important;
	line-height:27px!important;
}

#thread dl.userinfo dt.raccoon
{
	background-image:url(https://fi.somethingawful.com/images/svgs/raccoon.svg);
	background-size: 15px;
}

#thread dl.userinfo dt.baloogan
{
	background-image:url(https://fi.somethingawful.com/images/svgs/fascism.svg);
	background-size:20px;
	padding-left:20px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.anarchy
{
	background-image:url(https://fi.somethingawful.com/images/svgs/anarchist.svg);
	background-size:20px;
	padding-left:20px!important;
	line-height:20px!important;

}

#thread dl.userinfo dt.cacutar
{
	background-image:url(https://fi.somethingawful.com/images/svgs/cacutar2.png);
	background-size:20px;
	padding-left:20px!important;
	line-height:20px!important;

}

#thread dl.userinfo dt.lightning
{
	background-image:url(https://fi.somethingawful.com/images/svgs/lightning2.png);
	background-size:26px;
	padding-left:26px!important;
	line-height:30px!important;
}

#thread dl.userinfo dt.zdr
{
	background-image:url(https://fi.somethingawful.com/images/svgs/zdr.svg);
	background-size: 18px;
}

#thread dl.userinfo dt.verified
{
	background-image:url(https://fi.somethingawful.com/images/svgs/verified.png);
	background-size: 15px;
}

#thread dl.userinfo dt.tankie
{
	background-image:url(https://fi.somethingawful.com/images/svgs/tank.svg);
	background-size: 25px;
	padding-left: 27px !important;
}

#thread dl.userinfo dt.atomic
{
	background-image:url(https://fi.somethingawful.com/images/svgs/atomic.svg);
	background-size: 20px;
	padding-left: 24px !important;
}

#thread dl.userinfo dt.manhattan
{
	background-image:url(https://fi.somethingawful.com/images/svgs/manhattan.svg);
	background-size: 30px;
	padding-left: 30px !important;
}

#thread dl.userinfo dt.larry
{
	background-image:url(https://fi.somethingawful.com/images/svgs/loleggplant.png);
	background-size: 30px;
	padding-left: 32px !important;
	line-height: 24px !important;
	font-size: 80%;
}

.userid-188118 dd.title, .userid-233830 dd.title {
	scale: 50%;
}

#thread dl.userinfo dt.bbg
{
	background-image:url(https://fi.somethingawful.com/images/svgs/bbg.svg);
	background-size:20px;
	padding-left:20px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.skylark
{
	background-image:url(https://fi.somethingawful.com/images/svgs/skylark.svg);
	background-size:auto;
	padding-left:20px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.fungus
{
	background-image:url(https://fi.somethingawful.com/images/svgs/fungus.svg);
	background-size:20px;
	padding-left:20px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.quake
{
	background-image:url(https://fi.somethingawful.com/images/svgs/quake.svg);
	background-size:20px;
	padding-left:20px!important;
	line-height:20px!important;
}

#thread dl.userinfo dt.pentagram {
	background-image: url(https://fi.somethingawful.com/images/svgs/antimod2.svg);
	background-size: 20px;
	padding-left: 20px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.labarum {
	background-image: url(https://fi.somethingawful.com/images/svgs/labarum.svg);
	background-size: 18px;
	padding-left: 20px !important;
	line-height: 25px !important;
}

#thread dl.userinfo dt.dragonball {
	background-image: url(https://fi.somethingawful.com/images/svgs/dragonball.svg);
	background-size: 20px;
	padding-left: 20px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.belt {
	background-image: url(https://fi.somethingawful.com/images/svgs/belt.svg);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 16px !important;
}

#thread dl.userinfo dt.polaroid {
	background-image: url(https://fi.somethingawful.com/images/svgs/polaroid.svg);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 16px !important;
}

#thread dl.userinfo dt.polaroid-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/polaroid-blue.svg);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 16px !important;
}

#thread dl.userinfo dt.polaroid2 {
	background-image: url(https://fi.somethingawful.com/images/svgs/polaroid2.svg);
	background-size: 24px;
	padding-left: 22px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.polaroid2-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/polaroid2-blue.svg);
	background-size: 24px;
	padding-left: 22px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.bee {
	background-image: url(https://fi.somethingawful.com/images/svgs/bee.svg);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.bee-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/bee-darkblue.svg);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.unreal-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/unreal-black.svg);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.unreal-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/unreal-blue.svg);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.unreal-red {
	background-image: url(https://fi.somethingawful.com/images/svgs/unreal.svg);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.thunk-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/thunkface2-blue.svg);
	background-size: 22px;
	padding-left: 24px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.thunkher-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/thunkher-blue.svg);
	background-size: 22px;
	padding-left: 24px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.ant-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/ant2-blue.svg);
	background-size: 22px;
	padding-left: 22px !important;
	line-height: 22px !important;
}

#thread dl.userinfo dt.ant-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/ant2-black.svg);
	background-size: 22px;
	padding-left: 22px !important;
	line-height: 22px !important;
}

#thread dl.userinfo dt.mcnally-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/mcnally-blue.svg);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 25px !important;
}

#thread dl.userinfo dt.point {
	background-image: url(https://fi.somethingawful.com/images/svgs/point.svg);
	background-size: 20px;
	padding-left: 20px !important;
	line-height: 22px !important;
}

#thread dl.userinfo dt.point-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/point-blue.svg);
	background-size: 20px;
	padding-left: 20px !important;
	line-height: 22px !important;
}

#thread dl.userinfo dt.guitar-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/guitar-blue.svg);
	background-size: 22px;
	padding-left: 22px !important;
	line-height: 22px !important;
}

#thread dl.userinfo dt.chefhat-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/chefhat-blue.svg);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.brokenheart {
	background-image: url(https://fi.somethingawful.com/images/svgs/brokenheart.svg);
	background-size: 20px;
	padding-left: 24px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.brokenheart-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/brokenheart-blue.svg);
	background-size: 20px;
	padding-left: 24px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.ant3 {
	background-image: url(https://fi.somethingawful.com/images/svgs/ant3.svg);
	background-size: 20px;
	padding-left: 20px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.ant3-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/ant3-blue.svg);
	background-size: 20px;
	padding-left: 20px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.speechbubble {
	background-image: url(https://fi.somethingawful.com/images/svgs/speech-bubble.svg);
	background-size: 20px;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.speechbubble-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/speech-bubble-blue.svg);
	background-size: 20px;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.ten-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/ten-blue.png);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.ten-red {
	background-image: url(https://fi.somethingawful.com/images/svgs/ten-red.png);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.ten {
	background-image: url(https://fi.somethingawful.com/images/svgs/ten.png);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.sun-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/sun-blue.svg);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.sun-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/sun-black.svg);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.sun {
	background-image: url(https://fi.somethingawful.com/images/svgs/sun.svg);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.razz-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/razz-blue.png);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.queensland {
	background-image: url(https://fi.somethingawful.com/images/svgs/queensland.svg);
	background-size: 20px;
	padding-left: 16px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.queensland-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/queensland-blue.svg);
	background-size: 20px;
	padding-left: 16px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.mushroom {
	background-image: url(https://fi.somethingawful.com/images/svgs/mushroom.svg);
	background-size: 18px;
	padding-left: 20px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.mushroom-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/mushroom-blue.svg);
	background-size: 18px;
	padding-left: 20px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.x-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/x-black.svg);
	background-size: 18px;
	padding-left: 20px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.x-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/x-blue.svg);
	background-size: 18px;
	padding-left: 20px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.shutter-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/shutter-black.svg);
	background-size: 18px;
	padding-left: 20px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.shutter-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/shutter-blue.svg);
	background-size: 18px;
	padding-left: 20px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.tentacle-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/tentacle-black.svg);
	background-size: 22px;
	padding-left: 20px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.tentacle-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/tentacle-blue.svg);
	background-size: 22px;
	padding-left: 20px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.ohio-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/ohio-blue.svg);
	background-size: 18px;
	padding-left: 20px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.nib-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/nib-black.svg);
	background-size: 20px;
	padding-left: 20px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.nib-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/nib-blue.svg);
	background-size: 20px;
	padding-left: 20px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.toshimo {
	background-image: url(https://fi.somethingawful.com/images/svgs/toshimo.svg);
	background-size: 18px;
	padding-left: 20px !important;
	line-height: 17px !important;
}

#thread dl.userinfo dt.rocketship-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/rocketship-black.svg);
	background-size: 18px;
	padding-left: 20px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.rocketship-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/rocketship-blue.svg);
	background-size: 18px;
	padding-left: 20px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.machete-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/machete-black.svg);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.machete-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/machete-blue.svg);
	background-size: 20px;
	padding-left: 22px !important;
	line-height: 20px !important;
}

#thread dl.userinfo dt.saints-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/saints-black.svg);
	background-size: 18px;
	padding-left: 20px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.saints-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/saints-blue.svg);
	background-size: 18px;
	padding-left: 20px !important;
	line-height: 18px !important;
}

#thread dl.userinfo dt.rhino-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/rhino-left-black.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.rhino-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/rhino-left-blue.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.frog-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/frog-blue2.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.frog-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/frog-black.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.classicphone-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/classicphone-blue.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.classicphone-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/classicphone-black.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.cart-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/cart-blue.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.cart-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/cart-black.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.lefthorse-red {
	background-image: url(https://fi.somethingawful.com/images/svgs/lefthorse-red.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.lefthorse-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/lefthorse-blue.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.lefthorse-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/lefthorse-black.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.goat-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/goat-blue.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.goat-black {
	background-image: url(https://fi.somethingawful.com/images/svgs/goat-black.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.ghost {
	background-image: url(https://fi.somethingawful.com/images/svgs/ghost.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.skull {
	background-image: url(https://fi.somethingawful.com/images/svgs/skull.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.skull-blue {
	background-image: url(https://fi.somethingawful.com/images/svgs/skull-blue.svg);
	background-size: 20px;
	line-height: 20px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.bat {
	background-image: url(https://fi.somethingawful.com/images/svgs/bat.svg);
	background-size: 20px;
	line-height: 18px !important;
	padding-left: 22px !important;
}

#thread dl.userinfo dt.pumpkin {
	background-image: url(https://fi.somethingawful.com/images/svgs/pumpkin.svg);
	background-size: 20px;
	line-height: 18px !important;
	padding-left: 22px !important;
}

/* --------------- BIG HORRIBLE CONTEST RESULTS -------------------- */

#thread dl.userinfo dt.theshortestpath {
	background-image:url(//fi.somethingawful.com/images/svgs/car.svg);
	background-size: 20px;
}

#thread dl.userinfo dt.mycatisnorris {
	background-image:url(//fi.somethingawful.com/images/svgs/dog.svg);
	background-size: 20px;
}

/* -------- Pierogi special title ------------- */
td.userid-143128 dd.special_title {
	text-indent: -9999px;
	line-height: 0; /* Collapse the original line */
}

td.userid-143128 dd.special_title::after {
	content: "WORLD'S GREATEST!";
	text-indent: 0;
	display: block;
	line-height: initial;
}
