<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AwfulPostsViewExternalStylesheetURL</key>
	<string>https://awfulapp.com/posts-view-style.css</string>
	<key>AwfulThreadTagImageBaseURL</key>
	<string>https://awfulapp.com/Thread%20Tags/</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Unstable Awful</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconName</key>
	<string>greenface_appicon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.awfulapp.Awful</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>awful</string>
				<string>awfulhttp</string>
				<string>awfulhttps</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>17528322</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>brave</string>
		<string>firefox</string>
		<string>googlechrome</string>
		<string>http</string>
		<string>https</string>
		<string>microsoft-edge-http</string>
		<string>org-appextension-feature-password-management</string>
		<string>twitter</string>
		<string>vimeo</string>
		<string>vlc</string>
		<string>youtube</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Awful will upload to Imgur any photos you take and choose to include in your post when you tap Post</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Awful can save images and videos from posts</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Awful will upload to Imgur any photos you choose from your library when you tap Post</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.awfulapp.Awful.activity.browsing-posts</string>
		<string>com.awfulapp.Awful.activity.listing-threads</string>
		<string>com.awfulapp.Awful.activity.reading-message</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UINavigationBar</key>
		<dict>
			<key>UIColorName</key>
			<string>LaunchNavigationBar</string>
		</dict>
	</dict>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>ImgurClientId</key>
	<string>${IMGUR_CLIENT_ID}</string>
</dict>
</plist>
