<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1, width=device-width">

<style id="awful-inline-style">
    {{{ stylesheet }}}
</style>

<style id="awful-font-scale-style">
    {{> FontScale }}
</style>

<body class="{{ userInterfaceIdiom }}">
    <post id="{{ messageID }}" class="private-message {{# seen }}seen{{/ }} {{^ visibleAvatarURL }}no-avatar{{/ }}">
        <header {{# hiddenAvatarURL }}data-awful-avatar="{{ . }}"{{/ }}>
            {{# visibleAvatarURL }}<img class="avatar" src="{{ . }}" alt="">{{/ }}
            
            <section class="nameanddate">
                <h1 class="username">{{ fromUsername }}</h1>

                <time class="regdate">Joined {{ regDateFormat(from.regdate) }}</time>
            </section>
        </header>
        
        <section class="postbody">
            {{{ HTMLContents }}}
        </section>
        
        <footer>
            <time class="postdate">{{ sentDateFormat(sentDate) }}</time>
        </footer>
    </post>
    
    <script>{{{ javascript }}}</script>
</body>
