<post id="{{ postID }}" class="{{# beenSeen }}seen{{/ }}{{# roles }} role-{{ . }}{{/ }} {{^ visibleAvatarURL }}no-avatar{{/ }}">
    <header class="userid-{{ author.userID }}" {{# hiddenAvatarURL }}data-awful-avatar="{{ . }}"{{/ }}>
        {{# visibleAvatarURL }}<img class="avatar" src="{{ . }}" alt="">{{/ }}

		<section class="nameanddate">
			<h1 class="username">{{ author.username }}<div id="bracket"></div></h1>

			<time class="regdate">Joined {{ regDateFormat(author.regdate) }}</time>
		<section>
    </header>
  
    <section class="postbody">
        {{{ HTMLContents }}}
    </section>
	
	<footer>
        <span class="postdate">
            <svg class="clock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
                <g>
                    <path d="M100 12.5c48.2 0 87.5 39.3 87.5 87.5c0 48.2-39.3 87.5-87.5 87.5c-48.2 0-87.5-39.3-87.5-87.5 C12.5 51.8 51.8 12.5 100 12.5 M100 0C44.8 0 0 44.8 0 100c0 55.2 44.8 100 100 100c55.2 0 100-44.8 100-100 C200 44.8 155.2 0 100 0L100 0z"/>
                    <path d="M106.3 108.3H93.8V37.5h12.5V108.3z"/>
                    <path d="M93.8 108.3V95.8h50v12.5H93.8z"/>
                </g>
            </svg>

            {{ postDateFormat(postDate) }}
        </span>

        <button class="action-button" title="Post actions">•••</button>
	</footer>
</post>
