<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">

<style id="awful-inline-style">
    {{{ stylesheet }}}
</style>

<style>
/* The action button doesn't do anything in preview, but it can affect layout. */
.action-button {
    visibility: hidden;
}
</style>

<style id="awful-font-scale-style">
    {{> FontScale }}
</style>

<body class="{{ userInterfaceIdiom }}" data-version="{{ version }}"
    <div id="posts">
        {{# post }}
            {{> Post }}
        {{/ }}
    </div>
</body>
