<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">

<style id="awful-inline-style">
    {{{ stylesheet }}}
</style>
<style id="awful-font-adjust-style"><!-- filled from script --></style>
<body class="{{ userInterfaceIdiom }}">
    <div id="posts"></div>

    <div id="ad"></div>

    <div id="end"></div>

    <script>
        {{{ script }}}
    </script>
</body>
