<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>GBS</string>
	<key>214</key>
	<string>E/N</string>
	<key>26</key>
	<string>FYAD</string>
	<key>146</key>
	<string>WoW</string>
	<key>191</key>
	<string>LP</string>
	<key>192</key>
	<string>IYG</string>
	<key>158</key>
	<string>A/T</string>
	<key>162</key>
	<string>SAL</string>
	<key>200</key>
	<string>BFC</string>
	<key>46</key>
	<string>D&amp;D</string>
	<key>22</key>
	<string>SH/SC</string>
	<key>202</key>
	<string>CoC</string>
	<key>219</key>
	<string>YOSPOS</string>
	<key>122</key>
	<string>SAS</string>
	<key>181</key>
	<string>TFF</string>
	<key>175</key>
	<string>TRP</string>
	<key>179</key>
	<string>YLLS</string>
	<key>183</key>
	<string>TGD</string>
	<key>244</key>
	<string>TFLC</string>
	<key>161</key>
	<string>GWS</string>
	<key>167</key>
	<string>PYF</string>
	<key>91</key>
	<string>AI</string>
	<key>236</key>
	<string>C.A.</string>
	<key>124</key>
	<string>PI</string>
	<key>132</key>
	<string>TFR</string>
	<key>90</key>
	<string>TCC</string>
	<key>31</key>
	<string>CC</string>
	<key>210</key>
	<string>DIY</string>
	<key>151</key>
	<string>CD</string>
	<key>182</key>
	<string>TBB</string>
	<key>150</key>
	<string>NMD</string>
	<key>104</key>
	<string>ML</string>
	<key>130</key>
	<string>TVIV</string>
	<key>144</key>
	<string>BSS</string>
	<key>27</key>
	<string>ADTRW</string>
	<key>215</key>
	<string>PHIZ</string>
	<key>255</key>
	<string>RGD</string>
	<key>241</key>
	<string>LAN</string>
	<key>188</key>
	<string>QCS</string>
</dict>
</plist>
