<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>133</key>
	<dict>
		<key>showRatings</key>
		<false/>
	</dict>
	<key>26</key>
	<dict>
		<key>checkSpelling</key>
		<false/>
		<key>autocorrection</key>
		<false/>
		<key>autocapitalization</key>
		<false/>
	</dict>
	<key>154</key>
	<dict>
		<key>checkSpelling</key>
		<false/>
		<key>autocorrection</key>
		<false/>
		<key>autocapitalization</key>
		<false/>
	</dict>
	<key>219</key>
	<dict>
		<key>autocapitalization</key>
		<false/>
		<key>postButton</key>
		<string>YOSPOS BITHC</string>
	</dict>
</dict>
</plist>
