<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>byob-fuckyou</string>
	<string>byob-unbyob</string>
	<string>cps-android</string>
	<string>dd-notracist</string>
	<string>gip-fuck</string>
	<string>hell-fuckthis</string>
	<string>hell-miso</string>
	<string>hell-suck</string>
	<string>hell-whore</string>
	<string>lan-south</string>
	<string>LF-gay2</string>
	<string>lf-gotmine</string>
	<string>LF-nazisrael2</string>
	<string>sex</string>
	<string>yp-apple</string>
</array>
</plist>
