<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sections</key>
	<array>
		<dict>
			<key>Explanation</key>
			<string>Logging out erases all cached forums, threads, and posts.</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Logged In As</string>
					<key>ValueIdentifier</key>
					<string>Username</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Launch Tab</string>
					<key>Choices</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Forums</string>
							<key>Value</key>
							<string>forumslist</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Favorites</string>
							<key>Value</key>
							<string>favorites</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Bookmarks</string>
							<key>Value</key>
							<string>bookmarks</string>
						</dict>
					</array>
					<key>Default</key>
					<string>forumslist</string>
					<key>Key</key>
					<string>default_load</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Go to Awful&apos;s Thread</string>
					<key>Action</key>
					<string>GoToAwfulThread</string>
					<key>ThreadID</key>
					<string>3510131</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Log Out</string>
					<key>Action</key>
					<string>LogOut</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Appearance</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Dark Theme</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<false/>
					<key>Key</key>
					<string>dark_theme</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Font Size</string>
					<key>Type</key>
					<string>Stepper</string>
					<key>Default</key>
					<integer>15</integer>
					<key>Minimum</key>
					<integer>3</integer>
					<key>Maximum</key>
					<integer>200</integer>
					<key>Maximum~ipad</key>
					<integer>550</integer>
					<key>Increment</key>
					<integer>1</integer>
					<key>Key</key>
					<string>font_size</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Show Thread Tags</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>show_thread_tags</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>YOSPOS</string>
					<key>Choices</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Boring</string>
							<key>Value</key>
							<string>none</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Green</string>
							<key>Value</key>
							<string>green</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Amber</string>
							<key>Value</key>
							<string>amber</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Macinyos</string>
							<key>Value</key>
							<string>macinyos</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Winpos 95</string>
							<key>Value</key>
							<string>winpos95</string>
						</dict>
					</array>
					<key>Default</key>
					<string>green</string>
					<key>Key</key>
					<string>yospos_style</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Sidebar</string>
			<key>Explanation</key>
			<string>Rotate your device after setting.</string>
			<key>Explanation~ios5</key>
			<string>Quit and relaunch Awful after setting.</string>
			<key>Device</key>
			<string>iPad</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Keep Sidebar Open</string>
					<key>Choices</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Never</string>
							<key>Value</key>
							<string>never</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Landscape</string>
							<key>Value</key>
							<string>landscape</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Portrait</string>
							<key>Value</key>
							<string>portrait</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Always</string>
							<key>Value</key>
							<string>always</string>
						</dict>
					</array>
					<key>Default</key>
					<string>landscape</string>
					<key>Key</key>
					<string>keep_sidebar_open</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Posts</string>
			<key>Explanation</key>
			<string>Hidden images turn into a link.</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Highlight Mentions</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<false/>
					<key>Key</key>
					<string>highlight_own_mentions</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Highlight Quotes</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<false/>
					<key>Key</key>
					<string>highlight_own_quotes</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Show Avatars</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>show_avatars</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Show Images</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>show_images</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Posting</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Confirm Replies</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>confirm_before_replying</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Alternate Server</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Server</string>
					<key>Choices</key>
					<array/>
					<key>ViewController</key>
					<string>AwfulSettingsAlternateServerController</string>
					<key>Key</key>
					<string>custom_base_URL</string>
					<key>DisplayTransformer</key>
					<string>AwfulCustomBaseURLTransformer</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Explanation</key>
			<string>Awful uses these third-party libraries.</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Licenses</string>
					<key>Action</key>
					<string>ShowLicenses</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
