<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sections</key>
	<array>
		<dict>
			<key>Explanation</key>
			<string>Logging out erases all cached forums, threads, and posts.</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Logged In As</string>
					<key>ValueIdentifier</key>
					<string>Username</string>
					<key>Action</key>
					<string>ShowProfile</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Go to Awful&apos;s Thread</string>
					<key>Action</key>
					<string>GoToAwfulThread</string>
					<key>ThreadID</key>
					<string>3510131</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Log Out</string>
					<key>Action</key>
					<string>LogOut</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Look and Feel</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Show Thread Tags</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>show_thread_tags</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Show Avatars</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>show_avatars</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Load Images</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>show_images</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Font Scale: %d%%</string>
					<key>Type</key>
					<string>Stepper</string>
					<key>Minimum</key>
					<integer>50</integer>
					<key>Maximum</key>
					<integer>200</integer>
					<key>Default</key>
					<integer>100</integer>
					<key>Increment</key>
					<integer>10</integer>
					<key>Key</key>
					<string>font_scale</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Themes</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Dark Mode</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<false/>
					<key>Key</key>
					<string>dark_theme</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Forum-Specific Themes</string>
					<key>ViewController</key>
					<string>AwfulSettingsUbiquitousThemesController</string>
					<key>Key</key>
					<string>ubiquitous_theme_names</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Bookmarks</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Sort Unread Threads First</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<false/>
					<key>Key</key>
					<string>bookmarks_sorted_unread</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>iPad</string>
			<key>Device</key>
			<string>iPad</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Hide Sidebar in Landscape</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<false/>
					<key>Key</key>
					<string>hide_sidebar_in_landscape</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Posting</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Always Preview Posts</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>confirm_before_replying</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Alternate Server</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Server</string>
					<key>ViewController</key>
					<string>AwfulSettingsAlternateServerController</string>
					<key>Key</key>
					<string>custom_base_URL</string>
					<key>DisplayTransformer</key>
					<string>AwfulCustomBaseURLTransformer</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>VisibleInSettingsTab</key>
			<false/>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>BYOB Theme</string>
					<key>Key</key>
					<string>theme-268</string>
					<key>Default</key>
					<string>BYOB</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>FYAD Theme</string>
					<key>Key</key>
					<string>theme-26</string>
					<key>Default</key>
					<string>FYAD</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>YOSPOS Theme</string>
					<key>Key</key>
					<string>theme-219</string>
					<key>Default</key>
					<string>YOSPOS</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Gas Chamber Theme</string>
					<key>Key</key>
					<string>theme-25</string>
					<key>Default</key>
					<string>Gas Chamber</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
