<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>description</key>
		<string>Light</string>
		<key>scrollIndicatorStyle</key>
		<string>Black</string>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>descriptiveColor</key>
		<string>#ffffff</string>
		<key>tintColor</key>
		<string>#1e84af</string>
		<key>actionSheetBackgroundColor</key>
		<string>#000000cc</string>
		<key>basementBackgroundColor</key>
		<string>#00000000</string>
		<key>basementLabelColor</key>
		<string>#ffffff</string>
		<key>basementBadgeColor</key>
		<string>#dddddd</string>
		<key>browserBackgroundColor</key>
		<string>#ffffff</string>
		<key>listSecondaryBackgroundColor</key>
		<string>#e4e4e4</string>
		<key>listSecondaryTextColor</key>
		<string>#808080</string>
		<key>jumpToPageBackgroundColor</key>
		<string>#ffffff</string>
		<key>jumpToPageNavigationBarTextColor</key>
		<string>#1483b1</string>
		<key>jumpToPageNavigationBarTintColor</key>
		<string>#f9f9f9</string>
		<key>navigationBarTextColor</key>
		<string>#ffffff</string>
		<key>navigationBarTintColor</key>
		<string>#1483b1</string>
		<key>toolbarTextColor</key>
		<string>#1e84af</string>
		<key>postsLoadingViewTintColor</key>
		<string>#ffffff</string>
		<key>postsViewCSS</key>
		<string>posts-view.css</string>
		<key>postsTopBarTextColor</key>
		<string>#000000</string>
		<key>postsTopBarBackgroundColor</key>
		<string>#f9f9f9</string>
		<key>splitViewBackgroundColor</key>
		<string>#ffffff</string>
		<key>splitDividerColor</key>
		<string>#e9e9e9</string>
		<key>tabBarBackgroundColor</key>
		<string>#ffffff</string>
		<key>listBackgroundColor</key>
		<string>#ffffff</string>
		<key>listTextColor</key>
		<string>#000000</string>
		<key>listDetailColor</key>
		<string>#999999</string>
		<key>unreadBadgeOrangeColor</key>
		<string>#ff8000</string>
		<key>unreadBadgeRedColor</key>
		<string>#ff0000</string>
		<key>unreadBadgeYellowColor</key>
		<string>#ffff00</string>
		<key>keyboardAppearance</key>
		<string>Light</string>
	</dict>
	<key>dark</key>
	<dict>
		<key>jumpToPageNavigationBarTintColor</key>
		<string>#000000</string>
		<key>description</key>
		<string>Dark</string>
		<key>descriptiveColor</key>
		<string>#151515</string>
		<key>scrollIndicatorStyle</key>
		<string>White</string>
		<key>backgroundColor</key>
		<string>#262626</string>
		<key>tabBarBackgroundColor</key>
		<string>#151515</string>
		<key>listSecondaryTextColor</key>
		<string>#ffffff</string>
		<key>listSecondaryBackgroundColor</key>
		<string>#151515</string>
		<key>splitViewBackgroundColor</key>
		<string>#151515</string>
		<key>splitDividerColor</key>
		<string>#111111</string>
		<key>navigationBarTintColor</key>
		<string>#000000</string>
		<key>toolbarTextColor</key>
		<string>#ffffff</string>
		<key>toolbarTintColor</key>
		<string>#000000</string>
		<key>postsLoadingViewTintColor</key>
		<string>#151515</string>
		<key>postsTopBarTextColor</key>
		<string>#ffffff</string>
		<key>postsTopBarBackgroundColor</key>
		<string>#262626</string>
		<key>postsViewCSS</key>
		<string>posts-view-dark.css</string>
		<key>settingsSwitchColor</key>
		<string>#222222</string>
		<key>listBackgroundColor</key>
		<string>#333333</string>
		<key>listSeparatorColor</key>
		<string>#111111</string>
		<key>listTextColor</key>
		<string>#ffffff</string>
		<key>keyboardAppearance</key>
		<string>Dark</string>
	</dict>
	<key>FYAD</key>
	<dict>
		<key>description</key>
		<string>Pink</string>
		<key>postsLoadingViewTintColor</key>
		<string>#FD9999</string>
		<key>backgroundColor</key>
		<string>#ff3399</string>
		<key>descriptiveColor</key>
		<string>#fd9a9a</string>
		<key>relevantForumID</key>
		<string>26</string>
		<key>postsViewCSS</key>
		<string>posts-view-fyad.css</string>
		<key>listSeparatorColor</key>
		<string>#0000</string>
		<key>listBackgroundColor</key>
		<string>#ffccff</string>
		<key>listTextColor</key>
		<string>#000000</string>
		<key>autocorrection</key>
		<false/>
		<key>autocapitalization</key>
		<false/>
		<key>checkSpelling</key>
		<false/>
	</dict>
	<key>Gas Chamber</key>
	<dict>
		<key>postsLoadingViewTintColor</key>
		<string>#159933</string>
		<key>description</key>
		<string>Sickly</string>
		<key>descriptiveColor</key>
		<string>#68cc24</string>
		<key>relevantForumID</key>
		<string>25</string>
		<key>postsViewCSS</key>
		<string>posts-view-gas-chamber.css</string>
	</dict>
	<key>Macinyos</key>
	<dict>
		<key>description</key>
		<string>Macinyos</string>
		<key>descriptiveColor</key>
		<string>macinyos-wallpaper</string>
		<key>relevantForumID</key>
		<string>219</string>
		<key>postsLoadingViewType</key>
		<string>Macinyos</string>
		<key>postsViewCSS</key>
		<string>posts-view-macinyos.css</string>
	</dict>
	<key>Winpos 95</key>
	<dict>
		<key>description</key>
		<string>Winpos 95</string>
		<key>descriptiveColor</key>
		<string>#107f7f</string>
		<key>relevantForumID</key>
		<string>219</string>
		<key>postsLoadingViewType</key>
		<string>Winpos95</string>
		<key>postsViewCSS</key>
		<string>posts-view-winpos95.css</string>
	</dict>
	<key>YOSPOS</key>
	<dict>
		<key>listSecondaryTextColor</key>
		<string>#57FF57</string>
		<key>parent</key>
		<string>dark</string>
		<key>description</key>
		<string>Green console</string>
		<key>descriptiveColor</key>
		<string>#57ff57</string>
		<key>relevantForumID</key>
		<string>219</string>
		<key>postsLoadingViewType</key>
		<string>YOSPOS</string>
		<key>postsLoadingViewTintColor</key>
		<string>#5ffc60</string>
		<key>postsViewCSS</key>
		<string>posts-view-yospos.css</string>
		<key>listBackgroundColor</key>
		<string>#000000</string>
		<key>listTextColor</key>
		<string>#57FF57</string>
		<key>listFontName</key>
		<string>Menlo</string>
	</dict>
	<key>YOSPOS (amber)</key>
	<dict>
		<key>listSecondaryTextColor</key>
		<string>#57FF57</string>
		<key>parent</key>
		<string>YOSPOS</string>
		<key>description</key>
		<string>Amber console</string>
		<key>descriptiveColor</key>
		<string>#ebd04b</string>
		<key>postsLoadingViewTintColor</key>
		<string>#eacf4b</string>
		<key>postsViewCSS</key>
		<string>posts-view-amberpos.css</string>
		<key>listTextColor</key>
		<string>#EACF4C</string>
	</dict>
</dict>
</plist>
