<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>description</key>
		<string>Light</string>
		<key>descriptiveColor</key>
		<string>#ffffff</string>
		<key>tintColor</key>
		<string>#1e84af</string>
		<key>actionSheetBackgroundColor</key>
		<string>#00000099</string>
		<key>basementBackgroundColor</key>
		<string>#00000000</string>
		<key>basementLabelColor</key>
		<string>#ffffff</string>
		<key>browserBackgroundColor</key>
		<string>#ffffff</string>
		<key>listSecondaryBackgroundColor</key>
		<string>#e4e4e4</string>
		<key>listSecondaryTextColor</key>
		<string>#808080</string>
		<key>jumpToPageBackgroundColor</key>
		<string>#ffffff</string>
		<key>navigationBarTextColor</key>
		<string>#ffffff</string>
		<key>navigationBarTintColor</key>
		<string>#1483b1</string>
		<key>postsLoadingViewTintColor</key>
		<string>#ffffff</string>
		<key>postsViewCSS</key>
		<string>posts-view.css</string>
		<key>splitViewBackgroundColor</key>
		<string>#1e84af</string>
		<key>tabBarBackgroundColor</key>
		<string>#151515</string>
		<key>listBackgroundColor</key>
		<string>#ffffff</string>
		<key>listTextColor</key>
		<string>#000000</string>
	</dict>
	<key>dark</key>
	<dict>
		<key>backgroundColor</key>
		<string>#000000</string>
		<key>listSecondaryTextColor</key>
		<string>#ffffff</string>
		<key>listSecondaryBackgroundColor</key>
		<string>#000000</string>
		<key>description</key>
		<string>Dark</string>
		<key>descriptiveColor</key>
		<string>#000000</string>
		<key>navigationBarTintColor</key>
		<string>#000000</string>
		<key>postsLoadingViewTintColor</key>
		<string>#000000</string>
		<key>postsViewCSS</key>
		<string>posts-view-dark.css</string>
		<key>settingsSwitchColor</key>
		<string>#222222</string>
		<key>listBackgroundColor</key>
		<string>#111111</string>
		<key>listSeparatorColor</key>
		<string>#000000</string>
		<key>listTextColor</key>
		<string>#ffffff</string>
	</dict>
	<key>FYAD</key>
	<dict>
		<key>description</key>
		<string>Pink</string>
		<key>backgroundColor</key>
		<string>#ff3399</string>
		<key>descriptiveColor</key>
		<string>#fd9a9a</string>
		<key>relevantForumID</key>
		<string>26</string>
		<key>postsLoadingViewType</key>
		<string>FYAD</string>
		<key>postsViewCSS</key>
		<string>posts-view-fyad.css</string>
		<key>listSeparatorColor</key>
		<string>#851A51</string>
		<key>listBackgroundColor</key>
		<string>#ffccff</string>
		<key>listTextColor</key>
		<string>#006666</string>
	</dict>
	<key>Gas Chamber</key>
	<dict>
		<key>description</key>
		<string>Sickly</string>
		<key>descriptiveColor</key>
		<string>#68cc24</string>
		<key>relevantForumID</key>
		<string>25</string>
		<key>postsLoadingViewType</key>
		<string>GasChamber</string>
		<key>postsViewCSS</key>
		<string>posts-view-gas-chamber.css</string>
	</dict>
	<key>Macinyos</key>
	<dict>
		<key>description</key>
		<string>Macinyos</string>
		<key>descriptiveColor</key>
		<string>macinyos-wallpaper</string>
		<key>relevantForumID</key>
		<string>219</string>
		<key>postsLoadingViewType</key>
		<string>Macinyos</string>
		<key>postsViewCSS</key>
		<string>posts-view-macinyos.css</string>
	</dict>
	<key>Winpos 95</key>
	<dict>
		<key>description</key>
		<string>Winpos 95</string>
		<key>descriptiveColor</key>
		<string>#107f7f</string>
		<key>relevantForumID</key>
		<string>219</string>
		<key>postsLoadingViewType</key>
		<string>Winpos95</string>
		<key>postsViewCSS</key>
		<string>posts-view-winpos95.css</string>
	</dict>
	<key>YOSPOS</key>
	<dict>
		<key>parent</key>
		<string>dark</string>
		<key>description</key>
		<string>Green console</string>
		<key>descriptiveColor</key>
		<string>#57ff57</string>
		<key>relevantForumID</key>
		<string>219</string>
		<key>postsLoadingViewType</key>
		<string>YOSPOS</string>
		<key>postsLoadingViewTintColor</key>
		<string>#5ffc60</string>
		<key>postsViewCSS</key>
		<string>posts-view-yospos.css</string>
		<key>listBackgroundColor</key>
		<string>#000000</string>
		<key>listTextColor</key>
		<string>#57FF57</string>
	</dict>
	<key>YOSPOS (amber)</key>
	<dict>
		<key>parent</key>
		<string>YOSPOS</string>
		<key>description</key>
		<string>Amber console</string>
		<key>descriptiveColor</key>
		<string>#ebd04b</string>
		<key>postsLoadingViewTintColor</key>
		<string>#eacf4b</string>
		<key>postsViewCSS</key>
		<string>posts-view-amberpos.css</string>
		<key>listTextColor</key>
		<string>#EACF4C</string>
	</dict>
</dict>
</plist>
