html {
    margin:0px;
    padding:0px;
}

body {
    word-wrap:break-word;
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;
    margin:0px;
    padding:0px;
    -webkit-text-size-adjust: none; 
}

img {
    max-width:100%;
}

.userbox {
    width:100%;
    height:50px;
    background-color:#006698;
    -webkit-user-select:none;
}

.userbox_op {
    width:100%;
    height:50px;
    background-color:#199ed7;
    -webkit-user-select:none;
}

.avatar {
    width:50px;
    height:45px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.name_date_box {
    padding:7px;
    padding-right:0px;
    color:white;
    width:200px;
}

span.username {
    font-weight:bold;
}

span.username_op {
    font-weight:bold;
}

span.post_date {
    font-size:0.75em;
}

img.avatar {
    max-height:45px;
    max-width:45px;
}

.quotebutton {
    padding-right:10px;
    width:45px;
}

.postbodymain {
    font-size:15px;
}

.postbodysub {
    padding:5px;
}

a {
    word-wrap:break-word;
}

.ad {
    text-align:center;
}

.ad img {
    width:100%;
    height:auto;
}

.pagesleft {
    border-top:1px solid black;
    text-align:center;
    background-color:white;
    height:40px;
    font-family:Helvetica;
    font-size:20px;
    padding-top:10px;
}

.olderposts {
    width:100%;
    padding:5px;
    text-align:center;
    background-color:white;
    height:60px;
    font-family:Helvetica;
    font-size:20px;
    border-bottom:1px solid black;
}

.altcolor1 {
    background-color:#f4f4f4;
}
.altcolor2 {
    background-color:#e8e8e8;
}

.seen1 { background-color:#dbe8f5; }
.seen2 { background-color:#e7eff5; }

hr {
    margin:0px;
}

p.editedby {
    font-size:0.5em;
    font-style:italic;
}

.bbc-block, .bbc-block h5 { border-bottom:1px #999 solid;}
.bbc-block h4, .bbc-block h5 { display:block; color:#555; margin:0; padding:0; }
.bbc-block h4 { padding:1px 0 2px 0; border-top:1px #999 solid; font-size:13px; font-style:italic; }
.bbc-block h5 { font-size:12px; }
.bbc-block blockquote {font-size:12px; padding:5px; margin:0px;}

blockquote img {
    max-width:160px;
    max-height:100px;
}

.bbc-spoiler, .bbc-spoiler li { background:#000; }
.bbc-spoiler a:link, .bbc-spoiler a:visited, .bbc-spoiler a:active, .bbc-spoiler a:link { color:#000; }
.bbc-spoiler:hover a:link, .bbc-spoiler:hover a:visited, .bbc-spoiler:hover a:active, .bbc-spoiler:hover a:link { color:#80c0ff; }