<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>:a2m:</string>
	<string>:allbuttons:</string>
	<string>:bahgawd:</string>
	<string>:black101:</string>
	<string>:boobeer:</string>
	<string>:boom:</string>
	<string>:butt:</string>
	<string>:c00lbutt:</string>
	<string>:capitalism:</string>
	<string>:cheers:</string>
	<string>:chef:</string>
	<string>:circlefap:</string>
	<string>:clint:</string>
	<string>:commissar:</string>
	<string>:cop:</string>
	<string>:crossarms:</string>
	<string>:cry:</string>
	<string>:devil:</string>
	<string>:downs:</string>
	<string>:downsgun:</string>
	<string>:downswords:</string>
	<string>:dukedoge:</string>
	<string>:emo:</string>
	<string>:eng101:</string>
	<string>:eng99:</string>
	<string>:fap:</string>
	<string>:fedora:</string>
	<string>:fh:</string>
	<string>:flame:</string>
	<string>:fork:</string>
	<string>:gay:</string>
	<string>:gibs:</string>
	<string>:gizz:</string>
	<string>:gonk:</string>
	<string>:goshawk:</string>
	<string>:greenangel:</string>
	<string>:guinness:</string>
	<string>:hawaaaafap:</string>
	<string>:hb:</string>
	<string>:hchatter:</string>
	<string>:hehe:</string>
	<string>:henget:</string>
	<string>:heysexy:</string>
	<string>:hist101:</string>
	<string>:holy:</string>
	<string>:homebrew:</string>
	<string>:huh:</string>
	<string>:jerkbag:</string>
	<string>:jerky:</string>
	<string>:jewish:</string>
	<string>:jihad:</string>
	<string>:kimchi:</string>
	<string>:kingsley:</string>
	<string>:mamacita:</string>
	<string>:marc:</string>
	<string>:margeball:</string>
	<string>:monocle:</string>
	<string>:mrgw:</string>
	<string>:mrwhite:</string>
	<string>:neckbeard:</string>
	<string>:newfap:</string>
	<string>:nexus:</string>
	<string>:niggly:</string>
	<string>:ninja:</string>
	<string>:nono:</string>
	<string>:nyd:</string>
	<string>:o:</string>
	<string>:ocelot:</string>
	<string>:ohdear:</string>
	<string>:ohdearsass:</string>
	<string>:palmon:</string>
	<string>:pedo:</string>
	<string>:pervert:</string>
	<string>:pipe:</string>
	<string>:pirate:</string>
	<string>:pray:</string>
	<string>:pseudo:</string>
	<string>:rant:</string>
	<string>:redass:</string>
	<string>:redhammer:</string>
	<string>:regd13:</string>
	<string>:regd16:</string>
	<string>:reject:</string>
	<string>:robble:</string>
	<string>:roboluv:</string>
	<string>:rolleyes:</string>
	<string>:sadwave:</string>
	<string>:sassargh:</string>
	<string>:shepspends:</string>
	<string>:shlick:</string>
	<string>:shrek:</string>
	<string>:shrug:</string>
	<string>:siren:</string>
	<string>:smugdon:</string>
	<string>:smugmrgw:</string>
	<string>:sotw:</string>
	<string>:sparkles:</string>
	<string>:spooky:</string>
	<string>:ssj:</string>
	<string>:stare:</string>
	<string>:sterv:</string>
	<string>:stonk:</string>
	<string>:stonklol:</string>
	<string>:suicide:</string>
	<string>:sun:</string>
	<string>:supaburn:</string>
	<string>:swoon:</string>
	<string>:tbear:</string>
	<string>:toughguy:</string>
	<string>:tutbutt:</string>
	<string>:twisted:</string>
	<string>:vince:</string>
	<string>:what:</string>
	<string>:whip:</string>
	<string>:wiggle:</string>
	<string>:witch:</string>
	<string>:woop:</string>
	<string>:words:</string>
	<string>:worship:</string>
	<string>:wth:</string>
	<string>:xbone:</string>
	<string>:yarr:</string>
	<string>:yikes:</string>
	<string>:zombie:</string>
	<string>:zoro:</string>
	<string>;-*</string>
	<string>:69snypa:</string>
	<string>:bandwagon:</string>
	<string>:bunt:</string>
	<string>:bustem:</string>
	<string>:byewhore:</string>
	<string>:ccp:</string>
	<string>:chiyo:</string>
	<string>:cmon:</string>
	<string>:cumpolice:</string>
	<string>:damn:</string>
	<string>:dealwithit:</string>
	<string>:downsowned:</string>
	<string>:emoticon:</string>
	<string>:feelsgood:</string>
	<string>:filez:</string>
	<string>:frogon:</string>
	<string>:frogout:</string>
	<string>:ftbrg:</string>
	<string>:FYH:</string>
	<string>:gas:</string>
	<string>:gb2hd2k:</string>
	<string>:getout:</string>
	<string>:godwin:</string>
	<string>:google:</string>
	<string>:goon:</string>
	<string>:hellyeah:</string>
	<string>:histdowns:</string>
	<string>:hurr:</string>
	<string>:iceburn:</string>
	<string>:iia:</string>
	<string>:iiapa:</string>
	<string>:itwaspoo:</string>
	<string>:laffo:</string>
	<string>:lol:</string>
	<string>:lurkmore:</string>
	<string>:m10:</string>
	<string>:master:</string>
	<string>:milk:</string>
	<string>:milkie:</string>
	<string>:mitt:</string>
	<string>:moments:</string>
	<string>:moreevil:</string>
	<string>:nws:</string>
	<string>:objection:</string>
	<string>:omarcomin:</string>
	<string>:page3:</string>
	<string>:pedophiles:</string>
	<string>:regd05:</string>
	<string>:regd06:</string>
	<string>:regd07:</string>
	<string>:regd08:</string>
	<string>:regd10:</string>
	<string>:rice:</string>
	<string>:rip:</string>
	<string>:rms:</string>
	<string>:russbus:</string>
	<string>:sadfan:</string>
	<string>:sbahj:</string>
	<string>:shibewow:</string>
	<string>:sicknasty:</string>
	<string>:sidvicious:</string>
	<string>:synpa:</string>
	<string>:vd:</string>
	<string>:w00t:</string>
	<string>:whatup:</string>
	<string>:whoptc:</string>
	<string>:wrongful:</string>
	<string>:wtc:</string>
	<string>:yohoho:</string>
	<string>:awesome:</string>
	<string>:barf:</string>
	<string>:boonie:</string>
	<string>:byodame:</string>
	<string>:can:</string>
	<string>:ccb:</string>
	<string>:chiefsay:</string>
	<string>:chord:</string>
	<string>:devilchild:</string>
	<string>:dogout:</string>
	<string>:dong:</string>
	<string>:douche:</string>
	<string>:downsbravo:</string>
	<string>:downsrim:</string>
	<string>:drum:</string>
	<string>:dukedog:</string>
	<string>:faggot:</string>
	<string>:fail:</string>
	<string>:fella:</string>
	<string>:flaccid:</string>
	<string>:forkbomb:</string>
	<string>:freep:</string>
	<string>:frog:</string>
	<string>:frogbon:</string>
	<string>:frogc00l:</string>
	<string>:froggonk:</string>
	<string>:frogsiren:</string>
	<string>:fuckoff:</string>
	<string>:furcry:</string>
	<string>:george:</string>
	<string>:getin:</string>
	<string>:ghitler:</string>
	<string>:gifttank:</string>
	<string>:goatsecx:</string>
	<string>:gooncamp:</string>
	<string>:guitar:</string>
	<string>:hampants:</string>
	<string>:happyelf:</string>
	<string>:jiggled:</string>
	<string>:kamina:</string>
	<string>:mrapig:</string>
	<string>:mrgw2:</string>
	<string>:mump:</string>
	<string>:parrot:</string>
	<string>:psyboom:</string>
	<string>:psypop:</string>
	<string>:pwm:</string>
	<string>:pwn:</string>
	<string>:reddit:</string>
	<string>:rodimus:</string>
	<string>:rubshands:</string>
	<string>:sharpton:</string>
	<string>:shibaz:</string>
	<string>:shivdurf:</string>
	<string>:sissies:</string>
	<string>:smithicide:</string>
	<string>:smugissar:</string>
	<string>:sonia:</string>
	<string>:stalker:</string>
	<string>:syoon:</string>
	<string>:tastykake:</string>
	<string>:thejoke:</string>
	<string>:troll:</string>
	<string>:uhaul:</string>
	<string>:unsmigghh:</string>
	<string>:wmwink:</string>
	<string>:wooper:</string>
	<string>:wotwot:</string>
	<string>:yosbutt:</string>
	<string>:anarchists:</string>
	<string>:ancap:</string>
	<string>:beck:</string>
	<string>:ese:</string>
	<string>:fireman:</string>
	<string>:godwinning:</string>
	<string>:hitler:</string>
	<string>:italy:</string>
	<string>:japan:</string>
	<string>:mexico:</string>
	<string>:mil101:</string>
	<string>:tfrxmas:</string>
	<string>:ussr:</string>
	<string>:woz:</string>
	<string>:zpatriot:</string>
	<string>:aatrek:</string>
	<string>:anasta:</string>
	<string>:asoiaf:</string>
	<string>:axe:</string>
	<string>:bsdsnype:</string>
	<string>:bsg:</string>
	<string>:cedric:</string>
	<string>:corrupt:</string>
	<string>:csgo:</string>
	<string>:cult:</string>
	<string>:doclouis:</string>
	<string>:dota101:</string>
	<string>:flashfap:</string>
	<string>:foxnews:</string>
	<string>:fry:</string>
	<string>:fsn:</string>
	<string>:fut:</string>
	<string>:golgo:</string>
	<string>:iw:</string>
	<string>:joel:</string>
	<string>:jp:</string>
	<string>:kratos:</string>
	<string>:legion:</string>
	<string>:lesnick:</string>
	<string>:livintrope:</string>
	<string>:lost:</string>
	<string>:lron:</string>
	<string>:mario:</string>
	<string>:mcnabb:</string>
	<string>:megaman:</string>
	<string>:mufasa:</string>
	<string>:nignog:</string>
	<string>:nixon:</string>
	<string>:notch:</string>
	<string>:nyoron:</string>
	<string>:orks101:</string>
	<string>:orks:</string>
	<string>:pcgaming1:</string>
	<string>:pcgaming:</string>
	<string>:pgi:</string>
	<string>:qfg:</string>
	<string>:quagmire:</string>
	<string>:ramsay:</string>
	<string>:russo:</string>
	<string>:sg:</string>
	<string>:shepicide:</string>
	<string>:shopkeeper:</string>
	<string>:stat:</string>
	<string>:sugartits:</string>
	<string>:torgue:</string>
	<string>:turianass:</string>
	<string>:tviv:</string>
	<string>:tvtropes:</string>
	<string>:twentyfour:</string>
	<string>:ubisoft:</string>
	<string>:yoshi:</string>
	<string>:zaeed:</string>
	<string>:zoid:</string>
	<string>:kheldragar:</string>
	<string>:trumppop:</string>
	<string>:2bong:</string>
	<string>:350:</string>
	<string>:420:</string>
	<string>:beerpal:</string>
	<string>:bernin:</string>
	<string>:birddrugs:</string>
	<string>:catdrugs:</string>
	<string>:drugnerd:</string>
	<string>:lsd:</string>
	<string>:okpos:</string>
	<string>:rznv:</string>
	<string>:shroom:</string>
	<string>:tinsley:</string>
	<string>:weed:</string>
	<string>:atlus:</string>
	<string>:barry:</string>
	<string>:bern101:</string>
	<string>:bernout:</string>
	<string>:brrring:</string>
	<string>:bungie:</string>
	<string>:buttfame:</string>
	<string>:byoscience:</string>
	<string>:caro:</string>
	<string>:cheerdoge:</string>
	<string>:chloe:</string>
	<string>:co:</string>
	<string>:cocaine:</string>
	<string>:commcbg:</string>
	<string>:coolspot:</string>
	<string>:cosmic2day:</string>
	<string>:crafty:</string>
	<string>:crossange:</string>
	<string>:deadmau5:</string>
	<string>:destiny:</string>
	<string>:dunkedon:</string>
	<string>:eyepoop:</string>
	<string>:fag:</string>
	<string>:flip:</string>
	<string>:flipoff:</string>
	<string>:freakfuta:</string>
	<string>:frogleave:</string>
	<string>:frolf:</string>
	<string>:fuckthis:</string>
	<string>:fuzzknot:</string>
	<string>:glompoff:</string>
	<string>:goatdrugs:</string>
	<string>:heritage:</string>
	<string>:iiniku:</string>
	<string>:itoilet:</string>
	<string>:jackbud:</string>
	<string>:jollywell:</string>
	<string>:kiss:</string>
	<string>:knope:</string>
	<string>:landy:</string>
	<string>:mediocre:</string>
	<string>:miedo:</string>
	<string>:newdanger:</string>
	<string>:nutshot:</string>
	<string>:ohyeah:</string>
	<string>:ok:</string>
	<string>:pants:</string>
	<string>:perfect:</string>
	<string>:pubstove:</string>
	<string>:quig:</string>
	<string>:rowdytrout:</string>
	<string>:sandance:</string>
	<string>:sherman:</string>
	<string>:si:</string>
	<string>:skeltal:</string>
	<string>:squawk:</string>
	<string>:suezo:</string>
	<string>:suicide101:</string>
	<string>:swanlake:</string>
	<string>:therapy:</string>
	<string>:vomarine:</string>
	<string>:vrfrog:</string>
	<string>:wedass:</string>
	<string>:weedass:</string>
	<string>:weiner:</string>
	<string>:widowsnypa:</string>
	<string>:wtchris:</string>
	<string>:zoomed:</string>
</array>
</plist>
