<section>
  {{# customTitle }}
    <header>
      {{{ . }}}
    </header>
  {{/ }}
  <p>
    There have been <b>{{ postCount }}</b> posts made by <i>{{ username }}</i>, an average of {{ postRate }} posts per day, since registering on <b>{{ regDateFormat(regdate) }}</b>. <i>{{ username }}</i> claims to be a {{ gender }}.
  </p>

  <p>{{ aboutMe }}</p>

  {{# profilePictureURL }}<img src="{{ . }}" alt="">{{/ profilePictureURL }}
</section>

<section>
  {{# anyContactInfo }}
    <table id="contact">
      <caption>Contact Information</caption>
      {{# contactInfo }}
        <tr><th>{{ service }}</th><td>{{ address }}</td></tr>
      {{/ }}
    </table>
  {{/ }}

  <table>
    <caption>Additional Information</caption>
    {{# regdate }}<tr><th>Member Since</th><td>{{ regDateFormat(.) }}</td></tr>{{/ }}
    {{# postCount }}<tr><th>Post Count</th><td>{{ postCount }}</td></tr>{{/ }}
    {{# postRate }}<tr><th>Post Rate</th><td>{{ . }} posts per day</td></tr>{{/ }}
    {{# lastPost }}<tr><th>Last Post</th><td>{{ lastPostDateFormat(.) }}</td></tr>{{/ }}
    {{# additionalInfo }}<tr><th>{{ kind }}</th><td>{{ info }}</td></tr>{{/ }}
  </table>
</section>
