// This .xcconfig is included at the project level in the Release build configuration.

// Anything shared by multiple build configurations should go in the common config.
#include "Common.xcconfig"

ASSETCATALOG_COMPILER_OPTIMIZATION = time

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

LLVM_LTO = YES

SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O

VALIDATE_PRODUCT = YES
