<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
			<key>Title</key>
			<string>Images</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>show_avatars</string>
			<key>Title</key>
			<string>Load Avatars</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Misc</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>3</string>
			<key>Key</key>
			<string>bookmarks_delay</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>Refresh Bookmarks</string>
			<key>Titles</key>
			<array>
				<string>Instantly</string>
				<string>1 sec delay</string>
				<string>3 sec delay</string>
				<string>5 sec delay</string>
				<string>10 sec delay</string>
				<string>Never</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>3</string>
				<string>5</string>
				<string>10</string>
				<string>9001</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>posts_above</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>Load Read Posts</string>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>1 above</string>
				<string>2 above</string>
				<string>3 above</string>
				<string>All</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>9001</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>default_load</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Title</key>
			<string>Default Display</string>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Bookmarks</string>
				<string>Forums List</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>none</string>
				<string>bookmarks</string>
				<string>forumslist</string>
			</array>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SALR</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>username</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Highlight mentions</string>
			<key>Key</key>
			<string>highlight_own_mentions</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Highlight own quotes</string>
			<key>Key</key>
			<string>highlight_own_quotes</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
