<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sections</key>
	<array>
		<dict>
			<key>TitleKey</key>
			<string>username</string>
			<key>Explanation</key>
			<string>Logging out erases all cached forums, threads, and posts.</string>
			<key>Action</key>
			<string>ShowProfile</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Log Out</string>
					<key>Action</key>
					<string>LogOut</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Empty Cache</string>
					<key>Action</key>
					<string>EmptyCache</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Awful x.y.z</string>
			<key>Explanation</key>
			<string>Post feedback, bug reports, and feature suggestions. Please don&apos;t directly contact anyone from Something Awful about this app.</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Go to Awful&apos;s Thread</string>
					<key>Action</key>
					<string>GoToAwfulThread</string>
					<key>ThreadID</key>
					<string>3510131</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Posts</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Show Avatars</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>show_avatars</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Load Images</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>show_images</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Scale Text %@%%</string>
					<key>Type</key>
					<string>Stepper</string>
					<key>Minimum</key>
					<integer>50</integer>
					<key>Maximum</key>
					<integer>200</integer>
					<key>Default</key>
					<integer>100</integer>
					<key>Increment</key>
					<integer>10</integer>
					<key>Key</key>
					<string>font_scale</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Always Preview New Posts</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>confirm_before_replying</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Always Animate GIFs</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<string>NO</string>
					<key>Key</key>
					<string>autoplay_gifs</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Embed Tweets</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<string>YES</string>
					<key>Key</key>
					<string>embed_tweets</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Threads</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Show Thread Tags</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>show_thread_tags</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Sort Unread Bookmarks First</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<false/>
					<key>Key</key>
					<string>bookmarks_sorted_unread</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Sort Unread Threads First</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<false/>
					<key>Key</key>
					<string>forum_threads_sorted_unread</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Pull For Next Page</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>pull_for_next</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Sidebar</string>
			<key>Device</key>
			<string>iPad-like</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Hide Sidebar in Landscape</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<false/>
					<key>Key</key>
					<string>hide_sidebar_in_landscape</string>
					<key>Device</key>
					<string>iPad-like</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Explanation</key>
			<string>What to open when tapping an external link. Long-press any link for more options.</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Default Browser</string>
					<key>ViewController</key>
					<string>Awful.SettingsDefaultBrowserController</string>
					<key>Default</key>
					<string>Awful</string>
					<key>Key</key>
					<string>default_browser</string>
					<key>ShowValue</key>
					<true/>
				</dict>
				<dict>
					<key>Title</key>
					<string>Open YouTube in YouTube</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>open_youtube_links_in_youtube</string>
					<key>CanOpenURL</key>
					<string>youtube://</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Open Twitter in Twitter</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>open_twitter_links_in_twitter</string>
					<key>CanOpenURL</key>
					<string>twitter://</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Themes</string>
			<key>Explanation</key>
			<string>Choose the alternate app theme for a tweaked, but not authentic, look. Optionally, Awful can automatically switch between light and dark themes based on screen brightness. Use the slider to set when to use which theme.</string>
			<key>Settings</key>
			<array>
                <dict>
                    <key>Title</key>
                    <string>Alternate App Theme</string>
                    <key>Type</key>
                    <string>Switch</string>
                    <key>Default</key>
                    <false/>
                    <key>Key</key>
                    <string>alternate_theme</string>
                </dict>
				<dict>
					<key>Title</key>
					<string>Automatic Dark Mode</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<false/>
					<key>Key</key>
					<string>auto_dark_theme</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Dark Mode</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<false/>
					<key>Key</key>
					<string>dark_theme</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Threshold</string>
					<key>Type</key>
					<string>Slider</string>
					<key>Minimum</key>
					<real>0</real>
					<key>Maximum</key>
					<integer>100</integer>
					<key>Default</key>
					<integer>40</integer>
					<key>Key</key>
					<string>auto_theme_threshold</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Forum-Specific Themes</string>
					<key>ViewController</key>
					<string>Awful.SettingsUbiquitousThemesController</string>
					<key>Key</key>
					<string>ubiquitous_theme_names</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Explanation</key>
			<string>Handoff allows you to continue reading threads on nearby devices. Checking the clipboard for a forums URL when you open the app allows you to jump straight to the URL in Awful.</string>
			<key>DeviceCapability</key>
			<string>Handoff</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Handoff</string>
					<key>Type</key>
					<string>Switch</string>
					<key>Default</key>
					<true/>
					<key>Key</key>
					<string>handoff_enabled</string>
				</dict>
                <dict>
                    <key>Title</key>
                    <string>Check Clipboard for URL</string>
                    <key>Type</key>
                    <string>Switch</string>
                    <key>Default</key>
                    <true/>
                    <key>Key</key>
                    <string>clipboard_url_enabled</string>
                </dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Thank You</string>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Acknowledgements</string>
					<key>ViewController</key>
					<string>Awful.AcknowledgementsViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>VisibleInSettingsTab</key>
			<false/>
			<key>Settings</key>
			<array>
				<dict>
					<key>Title</key>
					<string>BYOB Theme</string>
					<key>Key</key>
					<string>theme-268</string>
					<key>Default</key>
					<string>BYOB</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>FYAD Theme</string>
					<key>Key</key>
					<string>theme-26</string>
					<key>Default</key>
					<string>FYAD</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>YOSPOS Theme</string>
					<key>Key</key>
					<string>theme-219</string>
					<key>Default</key>
					<string>YOSPOS</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Gas Chamber Theme</string>
					<key>Key</key>
					<string>theme-25</string>
					<key>Default</key>
					<string>Gas Chamber</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
