/*
 posts-view-yospos.css
 Awful
 
 Copyright 2012 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
 */
body {
  font: -apple-system-body;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
}
body {
  word-wrap: break-word;
}
.postbody img,
.postbody iframe,
.postbody embed {
  max-width: 100%;
}
post {
  display: block;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 0.5em;
}
.iphone post header,
.iphone post .postbody {
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.iphone post footer {
  padding-left: 0.6em;
}
.iphone post .action-button {
  padding-right: 0.6em;
}
.ipad post header,
.ipad post .postbody {
  padding-left: 1.07em;
  padding-right: 1.07em;
}
.ipad post footer {
  padding-left: 1.07em;
}
.ipad post .action-button {
  padding-right: 1.07em;
}
post:first-child {
  margin-top: 0;
}
header {
  padding-top: 0.75em;
  padding-bottom: 0.7em;
}
.ipad header {
  padding-top: 1.22em;
  /*    padding-bottom: 0.7em;*/

}
header:after {
  content: "";
  display: block;
  clear: both;
}
.avatar {
  display: inline-block;
  vertical-align: middle;
}
.iphone .avatar {
  max-width: 2.5em;
  max-height: 2.5em;
}
.ipad .avatar {
  max-width: 4em;
  max-height: 4em;
}
.nameanddate {
  display: inline-block;
  vertical-align: middle;
}
.username {
  margin: 0 0 2px;
}
.postdate {
  font-size: .8em;
  font-weight: lighter;
  -webkit-flex-grow: 1;
  -webkit-flex-wrap: wrap-reverse;
}
.regdate {
  display: block;
  font-size: .8em;
  font-weight: lighter;
  margin: -0.4em 0 0;
}
.username {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  /* Peta's 3D username */

  /*  Platinum users */

}
.username:before {
  margin-right: .25em;
}
.role-admin .username:before {
  color: #990011;
}
.role-mod .username:before {
  color: #006699;
}
.role-admin .username:before,
.role-mod .username:before {
  content: '★';
}
.op .username {
  color: #199ed7;
}
.userid-182864 .username {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 4px 0px 1px #00ffff, -2px 0px 1px #ff0000, -2px 0px 1px #ff0000, 4px 0px 1px #00ffff;
}
.platinum .username:before {
  background-image: url('awful-resource://platinum-member.png');
  content: "";
  background-size: 12px 15px;
  width: 12px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}
.coder .username:before {
  content: url('awful-resource://image-coder.png');
}
.idiotking .username:before {
  content: url('awful-resource://ik.png');
}
.diamond .username:before {
  content: url('awful-resource://diamond-icon.png');
}
.redpill .username:before {
  content: url('awful-resource://redpill.png');
}
.award .username:before {
  content: url('awful-resource://award.png');
}
.action-button {
  margin: 0;
  padding: 0.6em;
  border: none;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}
.action-button img {
  width: 24px;
  height: 8px;
}
.postbody img {
  -webkit-user-select: none;
}
.bbc-block {
  border-left: 2px solid #999;
  font-size: 82%;
  margin: 5px 0;
  padding: 0 10px 5px;
}
.ipad .bbc-block {
  margin: 0 10px 1em 10px;
}
.bbc-block h4 {
  margin: 0;
  padding: 1px 0px 2px;
  font-weight: bold;
}
.bbc-block h5 {
  margin: 0;
}
.bbc-block.mention,
.bbc-block.mention h4 a {
  color: #7409a0;
  border-color: #7409a0;
}
code,
pre,
tt {
  font-family: menlo;
  font-size: .9em;
}
span.mention {
  color: #7409a0;
}
.quote_link {
  text-decoration: none;
}
[data-awful-linkified-image] {
  text-decoration: underline;
}
.gifWrap.overlay {
  position: relative;
  display: inline-block;
}
.gifWrap.overlay:before {
  content: "GIF";
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url('awful-resource://play-button.png');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right 5px center;
  color: #000;
  height: 22px;
  margin: auto;
  position: absolute;
  width: 30px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: .25em;
  padding-right: 20px;
  border-radius: .125em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
.gifWrap.overlay.loading:before {
  background-image: url('awful-resource://spinner-button.png');
}
.gifWrap.overlay.playing:before {
  display: none;
}
.gifWrap + br,
.gifWrap + br + br {
  display: none;
}
blockquote {
  margin: 0;
}
blockquote img {
  max-width: 160px;
  max-height: 100px;
}
.postbody a {
  -webkit-tap-highlight-color: transparent;
}
.postbody b::before,
.postbody i::before,
.postbody s::before,
.postbody span.bbc-spoiler::before,
.postbody sub::before,
.postbody sup::before,
.postbody tt::before,
.postbody u::before {
  content: "\200C";
}
.iphone .postbody ol,
.iphone .postbody ul {
  margin: 0;
  padding-left: 1.5em;
}
.bbc-block.code pre {
  margin: 0;
}
.editedby {
  margin-bottom: 0;
  font-size: 90%;
  font-style: italic;
}
.attachment {
  margin: 0;
}
footer {
  display: -webkit-flex;
  -webkit-align-items: center;
}
footer:after {
  content: "";
  display: block;
  clear: both;
}
#ad {
  text-align: center;
}
#ad img {
  max-width: 100%;
}
.iphone #ad {
  padding: .6em;
  padding-bottom: 0;
}
.ipad #ad {
  padding: 1.07em;
  padding-bottom: 0;
}
#end {
  margin-bottom: 10px;
}
#end img {
  width: 20px;
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.voiceover-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
header,
footer {
  -webkit-user-select: none;
}
body {
  color: #57ff57;
  background-color: #000000;
  font-family: Courier;
}
post {
  background-color: #151515;
  border-bottom-color: #000;
  border-top-color: #000;
}
post.seen {
  background-color: #0b2d0b;
}
.role-admin .username:before {
  content: '★';
}
.role-mod .username:before {
  content: '☆';
}
.role-admin .username,
.role-mod .username {
  background-image: none;
  padding-left: 0;
}
.role-admin .username:before,
.role-mod .username:before {
  color: #57ff57;
}
.op .username {
  color: #57ff57;
}
.op .username:before {
  content: "⌨ ";
  background: none;
  height: auto;
  width: auto;
}
.action-button img {
  -webkit-filter: invert() sepia() saturate(10000%) hue-rotate(60deg);
}
.postbody a,
[data-awful-linkified-image] {
  color: #57ff57;
}
.postdate {
  color: #474747;
}
.seen .postdate {
  color: #257a26;
}
.bbc-spoiler:not(.spoiled) {
  color: #57ff57;
  background: #57ff57;
}
.bbc-spoiler:not(.spoiled) li {
  color: #57ff57;
  background: #57ff57;
  list-style: none;
}
.bbc-spoiler:not(.spoiled) img {
  opacity: 0;
}
.bbc-spoiler:not(.spoiled) a:link,
.bbc-spoiler:not(.spoiled) a:visited,
.bbc-spoiler:not(.spoiled) a:active,
.bbc-spoiler:not(.spoiled) [data-awful-linkified-image] {
  color: #57ff57;
}
.bbc-block {
  border-left-color: #57ff57;
}
.bbc-block.mention,
.bbc-block.mention h4,
.bbc-block.mention h4 a {
  color: #b837ed;
  border-color: #b837ed;
}
.bbc-block.mention h4 .mention {
  color: #dd89ff;
}
.editedby .mention {
  color: #dd89ff;
}
#end img {
  -webkit-filter: invert() sepia() saturate(10000%) hue-rotate(60deg);
}
/*
 posts-view-dark-emoticons.css
 Awful
 
 Copyright 2013 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
*/
[title~=":bustem:"],
[title~=":effort:"],
[title~=":dealwithit:"],
[title~=":filez:"],
[title~=":fireman:"],
[title~=":firstpost:"],
[title~=":frogon:"],
[title~=":FYH:"],
[title~=":gb2gbs:"],
[title~=":goof:"],
[title~=":qq:"],
[title~=":regd04:"],
[title~=":regd05:"],
[title~=":regd06:"],
[title~=":regd07:"],
[title~=":rice:"],
[title~=":sicknasty:"],
[title~=":vick:"],
[title~=":woop:"],
[title~=":words:"],
[title~=":wtc:"],
[title~=":zerg:"] {
  background: #fff;
}
[title~=":byobear:"],
[title~=":chiyo:"],
[title~=":coal:"],
[title~=":derp:"],
[title~=":dice:"],
[title~=":edi:"],
[title~=":fedora:"],
[title~=":hf:"],
[title~=":iia:"],
[title~=":iiam:"],
[title~=":iiapa:"],
[title~=":laffo:"],
[title~=":lol:"],
[title~=":ms:"],
[title~=":nms:"],
[title~=":nws:"],
[title~=":tbear:"],
[title~=":their:"],
[title~=":whoptc:"],
[title~=":wom:"],
[title~=":wtf:"],
[title~=":yohoho:"] {
  -webkit-filter: invert(100%);
}
.postbody {
  letter-spacing: -0.01em;
  line-height: 1.18em;
  padding-bottom: 15px;
  padding-top: 10px;
}
.postdate {
  color: #57ff57;
}
.seen .postdate {
  color: #57ff57;
}
