/*
 posts-view-219-macinyos.css
 Awful
 
 Copyright 2012 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
 */
body {
  font: -apple-system-body;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
}
body {
  word-wrap: break-word;
}
.postbody img,
.postbody iframe,
.postbody embed {
  max-width: 100%;
}
post {
  display: block;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 0.5em;
}
.iphone post header,
.iphone post .postbody,
.iphone post footer {
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.ipad post header,
.ipad post .postbody,
.ipad post footer {
  padding-left: 1.07em;
  padding-right: 1.07em;
}
post:first-child {
  margin-top: 0;
}
header {
  padding-top: 0.75em;
  padding-bottom: 0.7em;
}
.ipad header {
  padding-top: 1.22em;
  /*    padding-bottom: 0.7em;*/

}
header:after {
  content: "";
  display: block;
  clear: both;
}
.avatar {
  display: inline-block;
  vertical-align: middle;
}
.iphone .avatar {
  max-width: 2.5em;
  max-height: 2.5em;
}
.ipad .avatar {
  max-width: 4em;
  max-height: 4em;
}
.nameanddate {
  display: inline-block;
  vertical-align: middle;
}
.username {
  margin: 0 0 2px;
}
.postdate {
  font-size: .8em;
  font-weight: lighter;
  -webkit-flex-grow: 1;
  -webkit-flex-wrap: wrap-reverse;
}
.regdate {
  display: block;
  font-size: .8em;
  font-weight: lighter;
  margin: -0.4em 0 0;
}
.username {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  /* Peta's 3D username */

  /*  Platinum users */

}
.username:before {
  margin-right: .25em;
}
.role-admin .username:before {
  color: #990011;
}
.role-mod .username:before {
  color: #006699;
}
.role-admin .username:before,
.role-mod .username:before {
  content: '★';
}
.op .username {
  color: #199ed7;
}
.userid-182864 .username {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 4px 0px 1px #00ffff, -2px 0px 1px #ff0000, -2px 0px 1px #ff0000, 4px 0px 1px #00ffff;
}
.platinum .username:before {
  background-image: url('awful-resource://platinum-member.png');
  content: "";
  background-size: 12px 15px;
  width: 12px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}
.coder .username:before {
  content: url('awful-resource://image-coder.png');
}
.idiotking .username:before {
  content: url('awful-resource://ik.png');
}
.diamond .username:before {
  content: url('awful-resource://diamond-icon.png');
}
.redpill .username:before {
  content: url('awful-resource://redpill.png');
}
.award .username:before {
  content: url('awful-resource://award.png');
}
.action-button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: 2em;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  line-height: 1em;
}
.postbody img {
  -webkit-user-select: none;
}
.bbc-block {
  border-left: 2px solid #999;
  font-size: 82%;
  margin: 5px 0;
  padding: 0 10px 5px;
}
.ipad .bbc-block {
  margin: 0 10px 1em 10px;
}
.bbc-block h4 {
  margin: 0;
  padding: 1px 0px 2px;
  font-weight: bold;
}
.bbc-block h5 {
  margin: 0;
}
.bbc-block.mention,
.bbc-block.mention h4 a {
  color: #7409a0;
  border-color: #7409a0;
}
code,
pre,
tt {
  font-family: menlo;
  font-size: .9em;
}
span.mention {
  color: #7409a0;
}
.quote_link {
  text-decoration: none;
}
[data-awful-linkified-image] {
  text-decoration: underline;
}
.gifWrap.overlay {
  position: relative;
}
.gifWrap.overlay:before {
  content: "GIF";
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  position: absolute;
  bottom: 10px;
  left: 5px;
  padding: .5em;
  border-radius: .125em;
}
.gifWrap.overlay.loading:before {
  content: "Loading…";
}
.gifWrap + br,
.gifWrap + br + br {
  display: none;
}
blockquote {
  margin: 0;
}
blockquote img {
  max-width: 160px;
  max-height: 100px;
}
.postbody a {
  -webkit-tap-highlight-color: transparent;
}
.postbody b::before,
.postbody i::before,
.postbody s::before,
.postbody span.bbc-spoiler::before,
.postbody sub::before,
.postbody sup::before,
.postbody tt::before,
.postbody u::before {
  content: "\200C";
}
.iphone .postbody ol,
.iphone .postbody ul {
  margin: 0;
  padding-left: 1.5em;
}
.bbc-block.code pre {
  margin: 0;
}
.editedby {
  margin-bottom: 0;
  font-size: 90%;
  font-style: italic;
}
.attachment {
  margin: 0;
}
footer {
  display: -webkit-flex;
  -webkit-align-items: center;
}
footer:after {
  content: "";
  display: block;
  clear: both;
}
#ad {
  text-align: center;
}
#ad img {
  max-width: 100%;
}
.iphone #ad {
  padding: .6em;
  padding-bottom: 0;
}
.ipad #ad {
  padding: 1.07em;
  padding-bottom: 0;
}
#end {
  font-weight: normal;
  text-align: center;
  line-height: 1;
  margin-bottom: 10px;
}
.voiceover-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
header,
footer {
  -webkit-user-select: none;
}
html {
  font-family: "Geeza Pro";
  -webkit-font-smoothing: none;
}
body {
  color: #000;
  background-attachment: fixed;
  background-image: url('awful-resource://macinyos-wallpaper@2x.png');
  background-size: 2px;
}
post {
  margin: 5px;
  padding: 0;
  background-color: #fff;
  background-image: url('awful-resource://macinyos-heading-left.png'), url('awful-resource://macinyos-heading-center.png'), url('awful-resource://macinyos-heading-right.png'), url('awful-resource://macinyos-heading.png');
  background-position: top left, top center, top right, top left;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
  background-size: 20px 17px, 56px 17px, 20px 17px, 1px 18px;
  border: solid #000;
  border-radius: 2px;
  border-width: 1px 2px 2px 1px;
}
post.seen {
  background-color: #f1f1f1;
}
.ipad post {
  padding: 18px 5px 40px 5px;
}
.iphone header {
  margin-top: 18px;
}
.ipad header {
  margin-top: 8px;
  padding-bottom: 8px;
}
.role-admin .username {
  background-image: none;
  padding: 0;
}
.role-admin .username:before {
  content: " ";
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #71c457), color-stop(0.35, #71c457), color-stop(0.351, #fec331), color-stop(0.48, #fec331), color-stop(0.481, #f99527), color-stop(0.61, #f99527), color-stop(0.611, #e8524e), color-stop(0.74, #e8524e), color-stop(0.741, #a856a8), color-stop(0.87, #a856a8), color-stop(0.871, #00ade3), color-stop(1, #00ade3));
  color: transparent;
  -webkit-background-clip: text;
}
.role-mod .username {
  background-image: none;
  padding: 0;
}
.role-mod .username:before {
  content: " ";
}
.op .username {
  color: #000;
  font-style: italic;
}
.postdate {
  background-image: url('awful-resource://mac-watch.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-left: 2em;
}
.action-button {
  width: 70px;
  height: 34px;
  padding-right: 6px;
  font-size: 28px;
  text-align: right;
  background: top left no-repeat url('awful-resource://macinyos-postactions-bg.png') #ffffff;
  background-size: 31px;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
}
.ipad .action-button {
  margin-top: 12px;
}
.postbody a,
[data-awful-linkified-image] {
  color: #000;
}
.bbc-spoiler:not(.spoiled) {
  color: #000000;
  background: #000000;
}
.bbc-spoiler:not(.spoiled) li {
  color: #000000;
  background: #000000;
  list-style: none;
}
.bbc-spoiler:not(.spoiled) img {
  opacity: 0;
}
.bbc-spoiler:not(.spoiled) a:link,
.bbc-spoiler:not(.spoiled) a:visited,
.bbc-spoiler:not(.spoiled) a:active,
.bbc-spoiler:not(.spoiled) [data-awful-linkified-image] {
  color: #000000;
}
blockquote {
  border-left-color: #000;
}
