/*
 posts-view-alternate-dark.css
 Awful

 Copyright 2019 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
*/
body {
  min-height: 100vh;
  font: -apple-system-body;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}
body {
  word-wrap: break-word;
}
.postbody img,
.postbody iframe,
.postbody embed {
  max-width: 100%;
}
.postbody div.code pre {
  white-space: break-spaces;
}
post {
  display: block;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 0.5em;
}
.iphone post header,
.iphone post .postbody {
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.iphone post footer {
  padding-left: 0.6em;
}
.iphone post .action-button {
  padding-right: 0.6em;
}
.ipad post header,
.ipad post .postbody {
  padding-left: 1.07em;
  padding-right: 1.07em;
}
.ipad post footer {
  padding-left: 1.07em;
}
.ipad post .action-button {
  padding-right: 1.07em;
}
post:first-child {
  margin-top: 0;
}
header {
  padding-top: 0.75em;
  padding-bottom: 0.7em;
}
.ipad header {
  padding-top: 1.22em;
}
header:after {
  content: "";
  display: block;
  clear: both;
}
.avatar {
  display: inline-block;
  vertical-align: middle;
}
.iphone .avatar {
  max-width: 2.5em;
  max-height: 2.5em;
}
.ipad .avatar {
  max-width: 4em;
  max-height: 4em;
}
.nameanddate {
  display: inline-block;
  vertical-align: middle;
}
.username {
  margin: 0 0 2px;
  word-break: break-all;
}
.postdate {
  font-size: 0.8em;
  font-weight: lighter;
  -webkit-flex-grow: 1;
  -webkit-flex-wrap: wrap-reverse;
}
.regdate {
  display: block;
  font-size: 0.8em;
  font-weight: lighter;
  margin: -0.4em 0 0;
}
.username {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  /*  Platinum users */
}
.role-admin .username:before {
  color: #990011;
}
.role-mod .username:before {
  color: #006699;
}
.role-supermod .username:before {
  color: #f3a5aa;
}
.role-ik .username:before {
  color: #787373;
}
.role-coder .username:before {
  color: #eacf4c;
}
.role-admin .username:before,
.role-mod .username:before,
.role-supermod .username:before,
.role-ik .username:before,
.role-coder .username:before {
  content: '★';
}
.op .username {
  color: #199ed7;
}
.platinum .username:after {
  background-image: url('awful-resource://platinum-member.png');
  content: "";
  background-size: 14px;
  width: 14px;
  height: 14px;
  display: inline-block;
}
.coder .username:before {
  content: url('awful-resource://image-coder.png');
}
.idiotking .username:before {
  content: url('awful-resource://ik.png');
}
.diamond .username:before {
  content: url('awful-resource://diamond-icon.png');
}
.redpill .username:before {
  content: url('awful-resource://redpill.png');
}
.award .username:before {
  content: url('awful-resource://award.png');
}
.action-button {
  margin: 0;
  padding: 0.6em;
  border: none;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}
.action-button img {
  width: 24px;
  height: 8px;
}
.postbody img,
#fyad-flag {
  -webkit-user-select: none;
}
.bbc-block {
  border-left: 2px solid #999;
  font-size: 82%;
  margin: 5px 0;
  padding: 0 10px 5px;
}
.ipad .bbc-block {
  margin: 0 10px 1em 10px;
}
.bbc-block h4 {
  margin: 0;
  padding: 1px 0px 2px;
  font-weight: bold;
}
.bbc-block h4 span.mention.highlight {
  color: #7409a0;
  border-color: #7409a0;
}
.bbc-block h5 {
  margin: 0;
}
.bbc-block.mention.highlight,
.bbc-block.mention.highlight h4 a {
  color: #7409a0;
  border-color: #7409a0;
}
code,
pre,
tt {
  font-family: menlo;
  font-size: 0.9em;
}
span.mention.highlight {
  color: #7409a0;
}
.quote_link {
  text-decoration: none;
}
[data-awful-linkified-image] {
  cursor: pointer;
  text-decoration: underline;
}
.gif-wrap {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.gif-wrap:before {
  content: "GIF";
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url('awful-resource://play-button.png');
  background-size: 0.85em;
  background-repeat: no-repeat;
  background-position: right 5px center;
  color: #000;
  height: 1.35em;
  margin: auto;
  position: absolute;
  width: 1.75em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0.25em;
  padding-right: 1.25em;
  border-radius: 0.125em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
.gif-wrap.loading:before {
  background-image: url('awful-resource://spinner-button.png');
}
.gif-wrap.playing:before {
  display: none;
}
.bbc-spoiler:not(.spoiled) .gif-wrap {
  visibility: hidden;
}
.gif-wrap + br,
.gif-wrap + br + br {
  display: none;
}
blockquote {
  margin: 0;
}
blockquote img {
  max-width: 160px;
  max-height: 100px;
}
.postbody a {
  -webkit-tap-highlight-color: transparent;
}
.postbody b::before,
.postbody i::before,
.postbody s::before,
.postbody span.bbc-spoiler::before,
.postbody sub::before,
.postbody sup::before,
.postbody tt::before,
.postbody u::before {
  content: "\200C";
}
.iphone .postbody ol,
.iphone .postbody ul {
  margin: 0;
  padding-left: 1.5em;
}
.bbc-block.code pre {
  margin: 0;
}
.editedby {
  margin-bottom: 0;
  font-size: 90%;
  font-style: italic;
}
.attachment {
  margin: 0;
}
footer {
  display: -webkit-flex;
  -webkit-align-items: center;
}
footer:after {
  content: "";
  display: block;
  clear: both;
}
#fyad-flag {
  width: 100%;
  height: 102px;
}
#fyad-flag img {
  border: 1px solid black;
}
.ipad #fyad-flag img {
  display: block;
  margin: 0 auto;
}
#ad {
  text-align: center;
}
#ad img {
  max-width: 100%;
}
.iphone #ad {
  padding: 0.6em;
  padding-bottom: 0;
}
.ipad #ad {
  padding: 1.07em;
  padding-bottom: 0;
}
#end {
  font-weight: normal;
  text-align: center;
  line-height: 1;
  margin-bottom: 10px;
  -webkit-user-select: none;
}
.voiceover-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
header,
footer {
  -webkit-user-select: none;
}
header img.avatar,
header section.nameanddate {
  cursor: pointer;
}
.bbc-spoiler {
  cursor: pointer;
}
footer button.action-button {
  cursor: pointer;
}
post,
#ad,
#end {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
}
body {
  color: #ddd;
  background-color: #000000;
}
post {
  background-color: #000000;
  border-bottom: 2px solid #242424;
  border-top: none;
  padding-bottom: 0.7em;
}
post.seen {
  background: linear-gradient(to top, #0020447F, #0000007F 100px);
  border-bottom: 2px solid #0031697F;
}
header {
  border-bottom: none;
}
.platinum .username:after {
  background-image: url('awful-resource://platinum-member-white.png');
}
.op .username {
  color: #005ec9;
}
.postbody a,
[data-awful-linkified-image] {
  color: #005ec9;
}
.bbc-spoiler:not(.spoiled) {
  color: transparent;
  background: #333;
}
.bbc-spoiler:not(.spoiled) .bbc-block,
.bbc-spoiler:not(.spoiled) .bbc-block h4,
.bbc-spoiler:not(.spoiled) .bbc-block h5,
.bbc-spoiler:not(.spoiled) li,
.bbc-spoiler:not(.spoiled) a:link,
.bbc-spoiler:not(.spoiled) a:visited,
.bbc-spoiler:not(.spoiled) a:active,
.bbc-spoiler:not(.spoiled) [data-awful-linkified-image] {
  color: transparent;
  background: #333;
}
.bbc-spoiler:not(.spoiled) li {
  list-style: none;
}
.bbc-spoiler:not(.spoiled) img {
  opacity: 0;
  height: 0;
  width: 100%;
}
.bbc-block h4,
.bbc-block h5 {
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
}
.bbc-block.mention.highlight,
.bbc-block.mention.highlight h4,
.bbc-block.mention.highlight h4 a {
  color: #b837ed;
  border-color: #b837ed;
}
.bbc-block.mention.highlight h4 span.mention.highlight {
  color: #dd89ff;
}
.bbc-block {
  border: none;
  background-color: #1a1a1a;
  background-image: url("awful-resource://quote-post.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 12px;
  background-size: 20px;
  background-blend-mode: lighten;
  padding: 10px;
  padding-left: 40px;
  padding-bottom: 13px;
  border-radius: 1em;
}
.ipad .bbc-block {
  margin: 0;
}
.bbc-block a {
  color: unset;
}
footer {
  margin-top: 0.6em;
}
.postdate,
.regdate {
  color: rgba(255, 255, 255, 0.3);
}
.action-button img {
  -webkit-filter: invert() brightness(55.68627451%);
}
.editedby span.mention.highlight {
  color: #dd89ff;
}
#end {
  color: rgba(255, 255, 255, 0.3);
  line-height: 3em;
}
/*
 posts-view-dark-emoticons.css
 Awful
 
 Copyright 2013 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
*/
[title~=":bustem:"],
[title~=":effort:"],
[title~=":dealwithit:"],
[title~=":filez:"],
[title~=":fireman:"],
[title~=":firstpost:"],
[title~=":frogon:"],
[title~=":FYH:"],
[title~=":gb2gbs:"],
[title~=":goof:"],
[title~=":qq:"],
[title~=":regd04:"],
[title~=":regd05:"],
[title~=":regd06:"],
[title~=":regd07:"],
[title~=":rice:"],
[title~=":sicknasty:"],
[title~=":vick:"],
[title~=":woop:"],
[title~=":words:"],
[title~=":wtc:"],
[title~=":zerg:"] {
  background: #fff;
}
[title~=":byobear:"],
[title~=":chiyo:"],
[title~=":coal:"],
[title~=":derp:"],
[title~=":dice:"],
[title~=":edi:"],
[title~=":fedora:"],
[title~=":hf:"],
[title~=":iia:"],
[title~=":iiam:"],
[title~=":iiapa:"],
[title~=":laffo:"],
[title~=":lol:"],
[title~=":ms:"],
[title~=":nms:"],
[title~=":nws:"],
[title~=":tbear:"],
[title~=":their:"],
[title~=":whoptc:"],
[title~=":wom:"],
[title~=":wtf:"],
[title~=":yohoho:"] {
  -webkit-filter: invert(100%);
}
