/*
 posts-view-bright-light.css
 Awful

 Copyright 2019 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
*/

@import "base.less";

body {
  color: #000000;
  background-color: #ffffff;
}

post {
  background-color: #ffffff;
  border-bottom: 2px solid #f0f0f0;
  border-top: none;
  padding-bottom: .7em;

  &.seen {
    background: linear-gradient(to top, #0046962c, #00469600 100px);
    border-bottom: 2px solid #004696bb;
  }
}

header {
  border-bottom: none;
}

.platinum .username:after {
  background-image: url('awful-resource://platinum-member.png');
  background-position: -100% 0;
  -webkit-filter: black;
  content: "";
  background-size: 14px;
  width: 14px;
  height: 14px;
  display: inline-block;
}
.op .username {
  color: #004696;
}

.postbody a, [data-awful-linkified-image] {
  color: #004696;
}

@import "spoilers.less";
.spoilers(#000000);

.bbc-block {
  h4,
  h5 {
    color: #004696;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.bbc-block {
  &.mention.highlight, &.mention.highlight h4, &.mention.highlight h4 a {
    color: #b837ed;
    border-color: #b837ed;
  }

  &.mention.highlight h4 span.mention.highlight{
    color: #dd89ff;
  }
}

.bbc-block {
  border: none;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 12px;
  background-size: 20px;
  padding: 10px;
  padding-left: 40px;
  padding-bottom: 13px;
  border-radius: 1em;
  position: relative;
  
  .ipad & {
    margin: 0;
  }

  a {
    color: unset;
  }

  h4::before {
    content: "";
    height: 25px;
    width: 25px;
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: #0066ff;
    -webkit-mask-box-image: url("awful-resource://quote-post.png");
  }
}

footer {
  margin-top: .6em
}

@postdate-color: rgba(0, 0, 0, 30%);
.postdate, .regdate {
  color: @postdate-color;
}
.action-button img {
  .tint-black-template-image-gray(#b2b2b2);
}

.editedby span.mention.highlight {
  color: #dd89ff;
}

#end {
  color: @postdate-color;
  line-height: 3em;
}

@import "dead-tweet-ghost.less";
.dead-tweet(#004696, #ffffff, @postdate-color); // @tweetLinkColor, @backgroundColor, @ghostColor