/*
 posts-view-219-macinyos.css
 Awful
 
 Copyright 2012 Awful Contributors. CC BY-NC-SA 3.0 US https://github.com/Awful/Awful.app
 */
body {
  min-height: 100vh;
  font: -apple-system-body;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}
body {
  word-wrap: break-word;
}
.postbody img,
.postbody iframe,
.postbody embed {
  max-width: 100%;
}
.postbody div.code pre {
  white-space: break-spaces;
}
post {
  display: block;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 0.5em;
}
.iphone post header,
.iphone post .postbody {
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.iphone post footer {
  padding-left: 0.6em;
}
.iphone post .action-button {
  padding-right: 0.6em;
}
.ipad post header,
.ipad post .postbody {
  padding-left: 1.07em;
  padding-right: 1.07em;
}
.ipad post footer {
  padding-left: 1.07em;
}
.ipad post .action-button {
  padding-right: 1.07em;
}
post:first-child {
  margin-top: 0;
}
header {
  padding-top: 0.75em;
  padding-bottom: 0.7em;
}
.ipad header {
  padding-top: 1.22em;
}
header:after {
  content: "";
  display: block;
  clear: both;
}
.avatar {
  display: inline-block;
  vertical-align: middle;
}
.iphone .avatar {
  max-width: 2.5em;
  max-height: 2.5em;
}
.ipad .avatar {
  max-width: 4em;
  max-height: 4em;
}
.nameanddate {
  display: inline-block;
  vertical-align: middle;
}
.username {
  margin: 0 0 2px;
  word-break: break-all;
}
.postdate {
  font-size: 0.8em;
  font-weight: 500;
  -webkit-flex-grow: 1;
  -webkit-flex-wrap: wrap-reverse;
}
.regdate {
  display: block;
  font-size: 0.8em;
  font-weight: 500;
  margin: -0.4em 0 0;
}
.username {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  /*  Platinum users */
}
.role-admin .username:before {
  color: #990011;
}
.role-mod .username:before {
  color: #006699;
}
.role-supermod .username:before {
  color: #f3a5aa;
}
.role-ik .username:before {
  color: #787373;
}
.role-coder .username:before {
  color: #eacf4c;
}
.role-admin .username:before,
.role-mod .username:before,
.role-supermod .username:before,
.role-ik .username:before,
.role-coder .username:before {
  content: '★';
}
.op .username {
  color: #199ed7;
}
.platinum .username:after {
  background-image: url('awful-resource://platinum-member.png');
  content: "";
  background-size: 14px;
  width: 14px;
  height: 14px;
  display: inline-block;
}
.coder .username:before {
  content: url('awful-resource://image-coder.png');
}
.idiotking .username:before {
  content: url('awful-resource://ik.png');
}
.diamond .username:before {
  content: url('awful-resource://diamond-icon.png');
}
.redpill .username:before {
  content: url('awful-resource://redpill.png');
}
.award .username:before {
  content: url('awful-resource://award.png');
}
.pumpkin .username:after,
.ghost .username:after,
.bat .username:after {
  width: 20px;
  height: 20px;
  background-size: 20px;
  content: "";
}
.pumpkin .username:after {
  background-image: url('awful-resource://pumpkin.svg');
}
.ghost .username:after {
  background-image: url('awful-resource://ghost.svg');
}
.bat .username:after {
  background-image: url('awful-resource://bat.svg');
}
.action-button {
  margin: 0;
  padding: 0.6em;
  border: none;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}
.action-button img {
  width: 24px;
  height: 8px;
}
.postbody img,
#fyad-flag {
  -webkit-user-select: none;
}
.bbc-block {
  border-left: 2px solid #999;
  font-size: 82%;
  margin: 5px 0;
  padding: 0 10px 5px;
}
.ipad .bbc-block {
  margin: 0 10px 1em 10px;
}
.bbc-block h4 {
  margin: 0;
  padding: 1px 0px 2px;
  font-weight: bold;
}
.bbc-block h4 span.mention.highlight {
  color: #7409a0;
  border-color: #7409a0;
}
.bbc-block h5 {
  margin: 0;
}
.bbc-block.mention.highlight,
.bbc-block.mention.highlight h4 a {
  color: #7409a0;
  border-color: #7409a0;
}
code,
pre,
tt {
  font-family: menlo;
  font-size: 0.9em;
}
span.mention.highlight {
  color: #7409a0;
}
.quote_link {
  text-decoration: none;
}
[data-awful-linkified-image] {
  cursor: pointer;
  text-decoration: underline;
}
.gif-wrap {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.gif-wrap:before {
  content: "GIF";
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url('awful-resource://play-button.png');
  background-size: 0.85em;
  background-repeat: no-repeat;
  background-position: right 5px center;
  color: #000;
  height: 1.35em;
  margin: auto;
  position: absolute;
  width: 1.75em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0.25em;
  padding-right: 1.25em;
  border-radius: 0.125em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
.gif-wrap.loading:before {
  background-image: url('awful-resource://spinner-button.png');
}
.gif-wrap.playing:before {
  display: none;
}
.bbc-spoiler:not(.spoiled) .gif-wrap {
  visibility: hidden;
}
blockquote {
  margin: 0;
}
blockquote img {
  max-width: 160px;
  max-height: 100px;
}
.postbody a {
  -webkit-tap-highlight-color: transparent;
}
.postbody b::before,
.postbody i::before,
.postbody s::before,
.postbody span.bbc-spoiler::before,
.postbody sub::before,
.postbody sup::before,
.postbody tt::before,
.postbody u::before {
  content: "\200C";
}
.iphone .postbody ol,
.iphone .postbody ul {
  margin: 0;
  padding-left: 1.5em;
}
.bbc-block.code pre {
  margin: 0;
}
.editedby {
  margin-bottom: 0;
  font-size: 90%;
  font-style: italic;
}
.attachment {
  margin: 0;
}
footer {
  display: -webkit-flex;
  -webkit-align-items: center;
}
footer:after {
  content: "";
  display: block;
  clear: both;
}
#fyad-flag {
  width: 100%;
  height: 102px;
}
#fyad-flag img {
  border: 1px solid black;
}
.ipad #fyad-flag img {
  display: block;
  margin: 0 auto;
}
#ad {
  text-align: center;
}
#ad img {
  max-width: 100%;
}
.iphone #ad {
  padding: 0.6em;
  padding-bottom: 0;
}
.ipad #ad {
  padding: 1.07em;
  padding-bottom: 0;
}
#end {
  font-weight: normal;
  text-align: center;
  line-height: 1;
  margin-top: 50px;
  margin-bottom: 10px;
  -webkit-user-select: none;
}
.voiceover-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
header,
footer {
  -webkit-user-select: none;
}
header img.avatar,
header section.nameanddate {
  cursor: pointer;
}
.bbc-spoiler {
  cursor: pointer;
}
footer button.action-button {
  cursor: pointer;
}
post,
#ad,
#end {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
}
@media screen and (max-width: 399px) {
  .customTitle {
    display: none;
  }
  .ipad post header {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    align-items: center;
    justify-content: start;
    margin-bottom: 8px;
  }
  .ipad post header,
  .ipad post .postbody {
    padding-left: 0.6em;
    padding-right: 0.6em;
  }
  .ipad post footer {
    padding-left: 0.6em;
  }
  .ipad post .action-button {
    padding-right: 0.6em;
  }
  .ipad .avatar {
    max-width: 4em;
    max-height: 4em;
    margin-bottom: 6px;
    margin-right: 12px;
    vertical-align: middle;
    grid-column: 1 / 2;
  }
  .ipad .nameanddate {
    vertical-align: middle;
    grid-column: 2 / 4;
    align-items: start;
  }
  .ipad .postbody ol,
  .ipad .postbody ul {
    margin: 0;
    padding-left: 1.5em;
  }
  .ipad .postbody {
    grid-column: 1 / span 2;
    grid-row: 2 / 4;
  }
}
@media screen and (min-width: 400px) {
  .hidden {
    display: none;
  }
  post.responsive header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    min-width: 250px;
    max-width: 250px;
    max-height: 500px;
    display: grid;
    word-wrap: break-word;
  }
  post.responsive {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto;
  }
  .responsive post footer {
    padding-left: 1.07em;
  }
  .ipad post .action-button {
    padding-right: 1.07em;
  }
  .customTitle img:first-child {
    max-width: 5em;
    max-height: 5em;
    vertical-align: top;
    grid-row: 3;
    margin-top: 8px;
    margin-left: 4px;
  }
  .customTitle {
    grid-row: 4 / 5;
    grid-column: 1 / 5;
    overflow: auto;
    font: -apple-system-headline;
    transform-origin: top left;
    -webkit-transform: scale(0.8);
    margin-left: 8px;
    margin-top: 4px;
  }
  post.responsive .bbc-center {
    grid-row: 4 / 5;
    grid-column: 1 / 5;
    max-width: 210px;
    max-height: 150px;
    overflow: auto;
    margin-bottom: 1.07em;
  }
  .ipad .customTitle a {
    text-decoration: none;
    color: var(--link-color);
  }
  post.responsive .nameanddate {
    min-width: 250px;
    max-width: 250px;
    vertical-align: middle;
    grid-row: 1;
  }
  post.responsive .username,
  post.responsive .regdate {
    word-wrap: break-word;
    margin-left: 6px;
  }
  post.responsive .postbody {
    grid-row: 1 / 4;
    grid-column: 2 / 4;
    margin-top: 1.07em;
  }
  .ipad #ad {
    padding: 1.07em;
    padding-bottom: 0;
  }
  .ipad .bbc-block {
    margin: 0;
  }
  post.responsive footer {
    grid-row: 5;
    grid-column: 1 / span 4;
    align-items: center;
    justify-content: start;
  }
}
html {
  font-family: "Geeza Pro";
  -webkit-font-smoothing: none;
}
body {
  color: #000;
  background-attachment: fixed;
  background-image: url('awful-resource://macinyos-wallpaper@2x.png');
  background-size: 2px;
}
post {
  margin: 5px;
  padding: 0;
  background-color: #fff;
  background-image: url('awful-resource://macinyos-heading-left.png'), url('awful-resource://macinyos-heading-center.png'), url('awful-resource://macinyos-heading-right.png'), url('awful-resource://macinyos-heading.png');
  background-position: top left, top center, top right, top left;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
  background-size: 20px 17px, 56px 17px, 20px 17px, 1px 18px;
  border: solid #000;
  border-radius: 2px;
  border-width: 1px 2px 2px 1px;
}
post.seen {
  background-color: #f1f1f1;
}
.ipad post {
  padding: 18px 5px 40px 5px;
}
.iphone header {
  margin-top: 18px;
}
.ipad header {
  margin-top: 8px;
  padding-bottom: 8px;
}
.role-admin .username {
  background-image: none;
  padding: 0;
}
.role-admin .username:before {
  content: " ";
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #71c457), color-stop(0.35, #71c457), color-stop(0.351, #fec331), color-stop(0.48, #fec331), color-stop(0.481, #f99527), color-stop(0.61, #f99527), color-stop(0.611, #e8524e), color-stop(0.74, #e8524e), color-stop(0.741, #a856a8), color-stop(0.87, #a856a8), color-stop(0.871, #00ade3), color-stop(1, #00ade3));
  color: transparent;
  -webkit-background-clip: text;
}
.role-mod .username,
.role-supermod .username,
.role-ik .username,
.role-coder .username {
  background-image: none;
  padding: 0;
}
.role-mod .username:before,
.role-supermod .username:before,
.role-ik .username:before,
.role-coder .username:before {
  content: " ";
}
.op .username {
  color: #000;
  font-style: italic;
}
.postdate {
  background-image: url('awful-resource://mac-watch.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-left: 2em;
}
.action-button {
  width: 70px;
  height: 34px;
  padding-right: 6px;
  text-align: right;
  background: top left no-repeat url('awful-resource://macinyos-postactions-bg.png') #fff;
  background-size: 31px;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
}
.ipad .action-button {
  margin-top: 12px;
}
.postbody a,
[data-awful-linkified-image] {
  color: #000;
}
.bbc-spoiler:not(.spoiled) {
  color: transparent;
  background: #000;
}
.bbc-spoiler:not(.spoiled) .bbc-block,
.bbc-spoiler:not(.spoiled) .bbc-block h4,
.bbc-spoiler:not(.spoiled) .bbc-block h5,
.bbc-spoiler:not(.spoiled) li,
.bbc-spoiler:not(.spoiled) a:link,
.bbc-spoiler:not(.spoiled) a:visited,
.bbc-spoiler:not(.spoiled) a:active,
.bbc-spoiler:not(.spoiled) [data-awful-linkified-image] {
  color: transparent;
  background: #000;
}
.bbc-spoiler:not(.spoiled) li {
  list-style: none;
}
.bbc-spoiler:not(.spoiled) img {
  opacity: 0;
  height: 0;
  width: 100%;
}
blockquote {
  border-left-color: #000;
}
.dead-tweet-container {
  display: grid;
  grid-column: 2;
  place-items: start;
  max-width: -webkit-fit-content;
  border-radius: 1em;
  background: #fff;
}
.ghost-lottie {
  grid-column: 1;
  grid-row: 1 / span 6;
  width: 6em;
}
.dead-tweet-title {
  grid-column: 2;
  grid-row: 3;
  place-items: start;
  padding-right: 23px;
  color: #000;
  font: -apple-system-headline;
  font-weight: 600;
}
.dead-tweet-link {
  grid-column: 2;
  grid-row: 4;
  place-items: start;
  padding-right: 23px;
  color: #000;
  font: -apple-system-headline;
  font-weight: 450;
}
.ghost-fill {
  fill: #000;
}
.ghost-eyes {
  fill: #000;
}
.ghost-stroke {
  stroke: #000;
}
