<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.c-header</string>
	</array>
	<key>BuildableType</key>
	<string>None</string>
	<key>DefaultCompletionName</key>
	<string>Protocol</string>
	<key>Description</key>
	<string>An Objective-C protocol which includes the &lt;Foundation/Foundation.h&gt; header, using Awful's copyright string.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.h</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the protocol to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Protocol</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Summary</key>
	<string>An Objective-C protocol for Cocoa Touch</string>
</dict>
</plist>
