<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AwfulNewThreadTagURL</key>
	<string>http://awfulapp.com/</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.awfulapp.Awful${AWFUL_BUNDLE_ID_SUFFIX}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.awfulapp.Awful</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>awful</string>
				<string>awfulhttp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.readitlater</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>awful-pocket-login</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>20009</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIInterfaceOrientation</key>
	<string>UIInterfaceOrientationPortrait</string>
	<key>UIInterfaceOrientation~ipad</key>
	<string>UIInterfaceOrientationLandscape</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>ImgurAnonymousAPIClientID</key>
	<string>4db466addcb5cfc</string>
</dict>
</plist>
